<app-navbar></app-navbar>
<div class="image-container">
    <img src="https://cdnus.globalso.com/medodecor/ee1a20d3-302c-4006-9781-7557d40fb56a.jpg" alt="">
</div>
<div class="image-data">
    <div class="image-three-column">
        <img src="https://cdnus.globalso.com/medodecor/4-double-casement-windows-300x300.jpg" alt="image">
        <img src="https://cdnus.globalso.com/medodecor/6-double-casement-window-300x300.jpg" alt="image">
        <img src="https://cdnus.globalso.com/medodecor/5-french-casement-windows-300x300.jpg" alt="image">

    </div>
    <div class="technical-data-container">
        <div class="technical-data">
            <h5>TECHNICAL DATA</h5>
            <ul>
                <li>Max weight
                    <span class="order">
                        <p>- Casement glass sash: 80kg</p>
                        <p>– Casement screen sash: 25kg</p>
                        <p>– Outward awning glass sash: 180kg</p>
                    </span>
                </li>
                <li>
                    Glass thickness:30 mm
                </li>
                <li>Max size(mm)
                    <span class="order">
                        <p>-Casement window: W 450~750|H 550~1800</p>
                        <p>- Awning window: W400~1500|H 430~3000</p>
                        <p>- Fix window: Max height 6000</p>
                    </span>
                </li>
            </ul>
        </div>
        <div class="features" style="margin-top: 20vh;">
            <ul>
                <h5>FEATURES</h5>
                <li>Sash Flushed To Frame</li>
                <li>Concealed Handle & Hidden Drainage</li>
                <li>Column-Free & Aluminum Column Available</li>
                <li>Can Be Used For Curtain Wall</li>
            </ul>
        </div>
    </div>
</div>
<div class="button-one-container">
    <div class="devided-image">
        <img src="https://www.medodecor.com/uploads/119.png" alt="">
    </div>
    <div class="modern-slimline-three">
        <h5>Modern Slimline Parallel Window</h5>
        <h5>A Solution For Ceiling To Floor Opening</h5>
        <div class="images">
            <img src="https://www.medodecor.com/uploads/217-184x300.png" alt="">
            <div>
                <img src="https://www.medodecor.com/uploads/3-170%E5%B9%B3%E6%8E%A8%E7%AA%97-123x300.jpg" alt="">
                <h6>Exterior View</h6>
            </div>
            <div>
                <img src="https://www.medodecor.com/uploads/4-170%E5%B9%B3%E6%8E%A8%E7%AA%97-%E5%A4%96-%E6%8B%B7%E8%B4%9D-121x300.jpg"
                    alt="">
                <h6>Interior View</h6>
            </div>
        </div>
    </div>
    <div class="title-single-image">
        <h6>Opening mode</h6>
        <img src="https://www.medodecor.com/uploads/1c4988967fafefaeb2f52725d66510132b4a2a184ae0209e2ffb63b21452db95QzpcVXNlcnNcZ29vZGFvXEFwcERhdGFcUm9hbWluZ1xEaW5nVGFsa1wxMzk4MjUxMDE0X3YyXEltYWdlRmlsZXNcMTcwODUxMzQ5MjU0MF8yREVGN0I1RC0wNUM4LTQyY2EtOTVEMi0zNzkwQjY4OEFGNUQucG5n.png"
            alt="">
    </div>
    <div class="features">
        <div>
            <h6>Features</h6>
            <img src="https://www.medodecor.com/uploads/6-parallel-opening-window-300x216.jpg" alt="">
            <h6>Manual & Motorized Available</h6>
        </div>
        <div class="paragraph">
            <p>
                Flexibility is key in the modern world, and the Slimline Minimalist
                Parallel Window adapts effortlessly to your lifestyle.

                This duality ensures that your window is not just a design statement but
                a functional element that aligns with your daily needs.
            </p>
        </div>
    </div>
    <div class="features">
        <div>
            <img src="https://www.medodecor.com/uploads/8-23-300x225.jpg" alt="">
            <h6>Concealed, Simple And Elegant Handle</h6>
        </div>
        <div class="paragraph">
            <p>
                The handle is not just a functional element; it's a design detail that can
                elevate the entire window. the handle is concealed, embodying
                simplicity and elegance.

                This thoughtful design choice not only adds a touch of refinement but
                also contributes to the window's clean and uncluttered appearance.
            </p>
        </div>
    </div>
    <div class="features">
        <div>
            <img src="https://www.medodecor.com/uploads/7-parallel-opening-aluminium-windows-300x277.jpg" alt="">
            <h6>Sash Flushed To Frame</h6>
        </div>
        <div class="paragraph">
            <p>
                Elevate your spaces with the visual harmony of a sash flushed to the frame.

                The seamless integration of the sash with the frame not only enhances the
                aesthetic appeal but also ensures a smooth and effortless operation,
                creating an unobtrusive yet impactful presence in any room.
            </p>
        </div>
    </div>
    <div class="features">
        <div>
            <img src="https://www.medodecor.com/uploads/9-window-parallel-224x300.jpg" alt="">
            <h6>Fixed Window Appearance</h6>
        </div>
        <div class="paragraph">
            <p>
                The Slimline Minimalist Parallel Window, even when operable, presents a
                fixed window appearance.

                This innovative feature allows for a consistent aesthetic throughout your
                space, marrying form and function seamlessly.
            </p>
        </div>
    </div>
    <div class="beyond">
        <div class="left">
            <div class="paragraph">
                <h5>Unobstructed Views</h5>
                <h6>The seamless design of this window allows for expansive,
                    uninterrupted views, connecting the indoors with the beauty
                    of the surrounding environment.</h6>
            </div>
            <img src="https://www.medodecor.com/uploads/10-22.jpg" alt="">
            <div class="paragraph">
                <h5>Architectural Versatility</h5>
                <h6>The window's minimalist aesthetic makes it a versatile choice for various architectural styles, from
                    contemporary to
                    industrial.</h6>
            </div>
        </div>
        <div class="right">
            <div class="paragraph">
                <h5>Abundant Natural Light</h5>
                <h6>The large glass panels invite an abundance
                    of natural light into your space, creating a
                    bright and inviting atmosphere.</h6>
            </div>
            <div class="paragraph">
                <h5>Energy Efficiency</h5>
                <h6>The substantial glass thickness contributes to superior insulation, reducing energy consumption and
                    creating a more
                    sustainable living or working environment.</h6>
            </div>
            <img src="https://www.medodecor.com/uploads/11-21.jpg" alt="">
        </div>
    </div>
    <div class="image-text">
        <div class="text">
            <h5 style="margin-bottom: 5vh; margin-left: 2vh;">Tailoring Spaces with MEDO</h5>
            <h6 style="margin-left: 2vh;">In the journey of crafting spaces, MEDO stands as a reliable companion,
                offering not just windows but solutions that redefine the way we experience architecture.
                The Slimline Minimalist Parallel Window, with its technical prowess and aesthetic finesse,
                is a testament to our commitment to innovation and design excellence.
            </h6>
        </div>
        <div class="image">
            <img src="https://www.medodecor.com/uploads/update-size1.jpg" alt="">
        </div>
    </div>
    <div class="image-text">
        <div class="text">
            <h5 style="margin-bottom: 5vh;">Global Presence, Local Expertise</h5>
            <h6 style="margin-left: 2vh;">As a global player in the industry,
                MEDO has a strong presence in America, Mexico, Middle East Arabia countries, and Asia.
                Our windows are crafted to meet the diverse needs of different regions,
                combining international standards with local expertise.

                Whether you are an architect, designer, or homeowner,
                MEDO is your partner in bringing visionary designs to life.
            </h6>
        </div>
        <div class="image">
            <img src="https://www.medodecor.com/uploads/134.jpg" alt="">
        </div>
    </div>
    <div class="image-text">
        <div class="text">
            <h5 style="margin-bottom: 5vh;">Global Presence, Local Expertise</h5>
            <h6 style="margin-left: 2vh;">As a global player in the industry,
                MEDO has a strong presence in America, Mexico, Middle East Arabia countries, and Asia.
                Our windows are crafted to meet the diverse needs of different regions,
                combining international standards with local expertise.

                Whether you are an architect, designer, or homeowner,
                MEDO is your partner in bringing visionary designs to life.
            </h6>
        </div>
    </div>
</div>
<app-footer></app-footer>