<app-img-slider [images]="[
    'contactUs1',
    ]">
</app-img-slider>
<div class="container">
    <div class="row mt-5">
        <div class="col text-center">
            <h1 class="py-3" style="color:#4c7958 ;">Contact us</h1>
        </div>
    </div>
    <div class="row text-center py-3 align-items-center justify-content-center">
        <div class="col-md-12 shadow-sm border rounded py-3">
            <h3>Australia</h3>
            <h5>(Head Office)</h5>
            <div class="d-flex align-items-center py-3 px-3  ">
                <img [src]="imgPath1" alt="Phone" class="me-4" style="width: 50px; height: 50px;">
                <div>
                    <p class="mb-0">+61 410 181 003</p>
                    <p class="mb-0">+61 404 420 442</p>
                </div>
            </div>
            <div class="d-flex align-items-center my-4 p-3">
                <img [src]="imgPath5" alt="Office" class="me-4" style="width: 50px; height: 100%;">
                <p class="mb-0">130 Gipps Rd.,Smith Field,NSW 2164 , Australia</p>
            </div>
            <div class="d-flex align-items-center mb-4 p-3">
                <img [src]="imgPath6" alt="Office" class="me-4 " style="width: 60px; height: 100%;">
                <p class="mb-0">P.O. Box: U3 53 Lucerne Street , Belmore 2192 , Australia</p>
            </div>

        </div>
        <div class="col-md-12 shadow-sm border rounded py-3">
            <h3>Ghana</h3>
            <div class="d-flex align-items-center mb-4 p-3">
                <img [src]="imgPath7" alt="Office" class="me-4 " style="width: 60px; height: 100%;">
                <p class="mb-0">+233 20 355 5212</p>
            </div>
            <div class="d-flex align-items-center py-3 px-3  ">
                <img [src]="imgPath1" alt="Phone" class="me-4" style="width: 50px; height: 50px;">
                <p class="mb-0">+233 24 655 5212</p>
            </div>
            <div class="d-flex align-items-center my-4 p-3">
                <img [src]="imgPath5" alt="Office" class="me-4" style="width: 50px; height: 100%;">
                <p class="mb-0">Adabraka Additrom Rd. Accra , Ghana</p>
            </div>
            <div class="d-flex align-items-center mb-4 p-3">
                <img [src]="imgPath6" alt="Office" class="me-4 " style="width: 60px; height: 100%;">
                <p class="mb-0">Post Code : GR075</p>
            </div>

        </div>
        <div class="col-md-12 shadow-sm border rounded py-3">
            <h3>Qatar</h3>
            <div class="d-flex align-items-center py-3 px-3  ">
                <img [src]="imgPath1" alt="Phone" class="me-4" style="width: 50px; height: 50px;">
                <p class="mb-0">+974 5058 5559</p>
            </div>
            <div class="d-flex align-items-center my-4 p-3">
                <img [src]="imgPath5" alt="Office" class="me-4" style="width: 50px; height: 100%;">
                <p class="mb-0">C-Ring Road, Al Jabor Group , office No.0</p>
            </div>
            <div class="d-flex align-items-center mb-4 p-3">
                <img [src]="imgPath6" alt="Office" class="me-4 " style="width: 60px; height: 100%;">
                <p class="mb-0">P.O Box : 2260Doha , Qatar</p>
            </div>
        </div>
        <div class="col-md-12 shadow-sm border rounded py-3">
            <h3>Kenya</h3>
            <div class="d-flex align-items-center py-3 px-3  ">
                <img [src]="imgPath1" alt="Phone" class="me-4" style="width: 50px; height: 50px;">
                <p class="mb-0">+254 740 044 659</p>
            </div>
            <div class="d-flex align-items-center my-4 p-3">
                <img [src]="imgPath5" alt="Office" class="me-4" style="width: 50px; height: 100%;">
                <p class="mb-0">Ngong Road, 4th Floor, suite 21 , East Wing , Nairobi , Kenya</p>
            </div>
            <div class="d-flex align-items-center mb-4 p-3">
                <img [src]="imgPath6" alt="Office" class="me-4 " style="width: 60px; height: 100%;">
                <p class="mb-0">P.O. Box 21133-00505</p>
            </div>

        </div>
        <div class="col-md-12 shadow-sm border rounded py-3">
            <h3>Kuwait</h3>
            <div class="d-flex align-items-center py-3 px-3  ">
                <img [src]="imgPath1" alt="Phone" class="me-4" style="width: 50px; height: 50px;">
                <p class="mb-0">+965 9790 5056</p>
            </div>
            <div class="d-flex align-items-center my-4 p-3">
                <img [src]="imgPath5" alt="Office" class="me-4" style="width: 50px; height: 100%;">
                <p class="mb-0">Sharq area - 142 street - Dasman Complex Block 4 - 3th floor - Office 4
                </p>
            </div>
        </div>
        <div class="col-md-12 shadow-sm border rounded py-3">
            <h3>Lebanon</h3>
            <div class="d-flex align-items-center py-3 px-3  ">
                <img [src]="imgPath1" alt="Phone" class="me-4" style="width: 50px; height: 50px;">
                <p class="mb-0">+961 3 891 660</p>
            </div>
            <div class="d-flex align-items-center my-4 p-3">
                <img [src]="imgPath5" alt="Office" class="me-4" style="width: 50px; height: 100%;">
                <p class="mb-0">Tripoli - abi Samraa - Marj al zouhour - farah center
                </p>
            </div>
        </div>
    </div>
</div>