<app-navbar></app-navbar>
<div class="image-container">
    <img src="https://cdnus.globalso.com/medodecor/29eb3c76-9799-410d-a053-e056a5544625.jpg" alt="Slimline-Sliding-Door">
</div>
<div class="slider-conatiner-on-use">
    <app-slider [images]="imageSet"></app-slider>
    <div class="slimline-door-description">
        <h1>MD210 | 315 Slimline Panoramic Sliding Door</h1>
        <div class="button-container">
            <button class="contact-button">Contact</button>
            <button class="downlaod-button">Downlaod</button>
        </div>
        <h2>TECHNICAL DATA</h2>
        <div class="Feature-list-container">
        <ul>
            <li>Max weight: 1000kg | W≥750 | 2000 ≤ H ≤ 5000</li>
            <li>Glass thickness: 38mm</li>
            <li>Flymesh: ss, foldable, rolling</li>
        </ul>
        </div>  
        <h2>FEATURES</h2>
        <div class="Feature-list-container flex-list">
            <div class="first-list">   
                <ul>
                    <li> Hidden Drainage</li>
                    <li>28mm Slim Interlock</li>
                    <li>Flymesh: ss, foldable, rolling</li>
                    <li>Concealed Sash</li>
                </ul>
            </div>
            <div class="second-list">   
                <ul>
                    <li>Manual & Motorized Available</li>
                    <li> Foldable Conceal Fly Screen</li>
                    <li>Motorized Rolling Screen</li>
                    <li>Balustrade</li>
                </ul>
            </div>
        </div>
    </div>
</div>
   
<div class="detail-container">
    <div class="first-detail detail">
        <img src="https://www.medodecor.com/uploads/121.png">
        <h2>
            Panoramic Slimline Sliding Door - Sash Fully Concealed
        </h2>
    </div>  
    <div class="second-detail detail">
        <div class="displaying-img">
            <img src="https://www.medodecor.com/uploads/3-210%E6%8E%A8%E6%8B%89%E9%97%A8-B.jpg">
            <img src="https://www.medodecor.com/uploads/215.png">
        </div>
        <h2>2 Tracks</h2>
    </div>
    <div class="third-detail detail">
        <div class="displaying-img">
            <img src="https://www.medodecor.com/uploads/4-panoramic-sliding-glass-doors1.jpg">
          <img src="https://www.medodecor.com/uploads/55.png">
        </div>
        <h2>3 Tracks - Option With Fly Mesh</h2>
    </div>
    <div class="fourth-deatil detail">
        <img src="https://www.medodecor.com/uploads/65.png">
        <h2>Openning Mode</h2>
    </div>
</div>


<!-- <h2>Feature</h2>
<div class="feature-containter">
    <div>
        <div>
            <img src="https://www.medodecor.com/uploads/7-panoramic-sliding-doors-cost-300x168.jpg" >
            <h3>Hidding Drainage</h3>
        </div>
        <div>
            Innovation efficiently manages water runoff without compromising the door's clean and minimalist appearance, ensuring that your living space remains visually unblemished.
        </div>
    </div>
    <div>
        <div>
            <img src="https://www.medodecor.com/uploads/7-panoramic-sliding-doors-cost-300x168.jpg" >
            <h3>28mm Slim Interlock</h3>
        </div>
        <div>
            Step into a world of unobstructed views with slim interlock.This design choice minimizes sightlines, allowing you to connect seamlessly with the panoramic vistas outside.The door becomes a canvas, framing the beauty of your surroundings with elegance and precision.
        </div>
    </div>
    <div>
        <div>
            <img src="https://www.medodecor.com/uploads/9-panoramic-sliding-patio-doors-300x168.jpg" >
            <h3>Flush Bottom Track For Easy Cleaning</h3>
        </div>
        <div>
            Practical luxury meets convenience with flush bottom track. This innovative feature not only enhances the door's sleek  appearance but also facilitates easy cleaning, ensuring that maintenance becomes a seamless part of your lifestyle.
        </div>
    </div>
    <div>
        <div>
            <img src="https://www.medodecor.com/uploads/10-panoramic-sliding-door-300x209.jpg" >
            <h3>Concealed Sash</h3>
        </div>
        <div>
            A concealed sash, creating a visual masterpiece that seamlessly  integrates with the frame. This design choice eliminates visible joints , providing a clean and modern aesthetic that defines the essence of minimalist luxury
        </div>
    </div>
    <div>
        <div>
            <img src="https://www.medodecor.com/uploads/11-panorama-sliding-doors-300x196.jpg" >
            <h3>Manual & Motorized Available</h3>
        </div>
        <div>
            Whether you prefer a hands-on approach or the convenience of automation, the door caters to your preferences with both manual and motorized options.  Embrace a lifestyle tailored to your needs, where comfort and functionality coexist seamlessly.
        </div>
    </div>
    <div>
        <div>
            <img src="https://www.medodecor.com/uploads/12-2-300x168.jpg" >
            <h3>Foldable Conceal Fly Screen</h3>
        </div>
        <div>
            Experience the epitome of unobstructed enjoyment with foldable conceal fly screen.  This feature, intelligently designed for easy deployment and concealment, ensures that you can savor the outdoors without compromising on comfort.
        </div>
    </div>
    <div>
        <div>
            <img src="https://www.medodecor.com/uploads/13-sliding-glass-doors-exterior-300x168.jpg" >
            <h3>Motorized Rolling Screen</h3>
        </div>
        <div>
            An effortless convenience with its motorized rolling screen. Enjoy the luxury of controlling your environment with the touch of a button, creating a harmonious indoor-outdoor experience that aligns with the modern pace of life.
        </div>
    </div>
    <div>
        <div>
            <img src="https://www.medodecor.com/uploads/14-sliding-interior-doors-300x168.jpg" >
            <h3>Balustrade</h3>
        </div>
        <div>
            Elevate your space with a touch of opulence through the balustrade option.  This feature not only adds a distinctive architectural element but also enhances safety and visual appeal, making a bold statement in high-end residences and commercial project
        </div>
    </div>
</div> -->