<app-navbar></app-navbar>
<div class="image-container">
    <img src="https://cdnus.globalso.com/medodecor/Casement-window14.jpg" alt="">
</div>
<div class="image-data">
    <div class="image-three-column">
        <img src="https://cdnus.globalso.com/medodecor/4-double-casement-windows-300x300.jpg" alt="image">
        <img src="https://cdnus.globalso.com/medodecor/6-double-casement-window-300x300.jpg" alt="image">
        <img src="https://cdnus.globalso.com/medodecor/5-french-casement-windows-300x300.jpg" alt="image">

    </div>
    <div class="technical-data-container">
        <div class="technical-data">
            <h5>TECHNICAL DATA</h5>
            <ul>
                <li>Max weight
                    <span class="order">
                        <p>- Casement glass sash: 80kg</p>
                        <p>– Casement screen sash: 25kg</p>
                        <p>– Outward awning glass sash: 180kg</p>
                    </span>
                </li>
                <li>
                    Glass thickness:30 mm
                </li>
                <li>Max size(mm)
                    <span class="order">
                        <p>-Casement window: W 450~750|H 550~1800</p>
                        <p>- Awning window: W400~1500|H 430~3000</p>
                        <p>- Fix window: Max height 6000</p>
                    </span>
                </li>
            </ul>
        </div>
        <div class="features">
            <ul>
                <h5>FEATURES</h5>
                <li>Sash Flushed To Frame</li>
                <li>Concealed Handle & Hidden Drainage</li>
                <li>Column-Free & Aluminum Column Available</li>
                <li>Can Be Used For Curtain Wall</li>
            </ul>
        </div>
    </div>
</div>

<div>
    <div class="single-image-margin">
        <img src="https://www.medodecor.com/uploads/118.png" alt="image">
    </div>
    <div class="text-on-image-big">
        <h5>Customized Made Slimline Casement Window For Both Residential & Commercial</h5>
        <div class="image-two-small">

            <img src="https://www.medodecor.com/uploads/56.png" class="big-image" alt="image">
            <img src="https://www.medodecor.com/uploads/66.png" class="big-image"alt="image">
        </div>
    </div>
    <div class="text-on-image-big">
        <h5>open method</h5>
        <div class="image-two-small">
            <img src="https://www.medodecor.com/uploads/218-187x300.png" alt="image">
            <img src="https://www.medodecor.com/uploads/4-black-casement-windows1-212x300.jpg" alt="image">
            <img src="https://www.medodecor.com/uploads/3-types-of-casement-windows1-109x300.jpg" alt="image">

        </div>
    </div>
    <div class="specification-container2" >
        <h4 class="to-right">Features</h4>
        <div class="specification1" style="border: none;">

            <div class="image-with-text">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/7-home-depot-casement-windows-300x300.jpg" alt="image">
                    <h6>Sash Flushed To Frame</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>The sash is seamlessly flushed to the frame, creating a smooth, unified surface that enhances both
                    aesthetics and
                    functionality. This design choice ensures that the MD136 complements any architectural style with
                    grace and
                    sophistication.</p>
            </div>
        </div>
    </div>
    <div class="specification-container2">
        <div class="specification1" style="border: none;">

            <div class="image-with-text">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/WPS%E6%8B%BC%E5%9B%BE01.png" alt="image">
                    <h6>Concealed Handle & Hidden Drainage</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>Elegance meets practicality with concealed handle.

                    This thoughtful design element not only adds a touch of
                    sophistication but also ensures a clutter-free appearance.

                    Additionally, our hidden drainage system goes beyond
                    aesthetics, preventing water accumulation and
                    maintaining the window's pristine look over time.</p>
            </div>
        </div>
    </div>
    <div class="specification-container2" >
        <div class="specification1" style="border: none;">

            <div class="image-with-text">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/10-casement-windows-300x225.jpg" alt="image">
                    <h6>Column-Free & Aluminum Column Available</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>Freedom of design meets structural integrity with the column-free
                    option.
                    Enjoy unobstructed panoramic views, creating a sense of openness
                    and space.
                    This flexibility ensures the widnow seamlessly integrates into your
                    vision, providing both form and function.</p>
            </div>
        </div>
    </div>
    <div class="specification-container2" >
        <div class="specification1" style="border: none;">

            <div class="image-with-text">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/11-exterior-casement-window-300x225.jpg" alt="image">
                    <h6>Can Be Used For Curtain Wall</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>It's a versatile design element that can be seamlessly
                    incorporated into curtain wall systems.

                    This flexibility allows architects and designers to unleash
                    their creativity, transforming spaces into works of art</p>
            </div>
        </div>
    </div>

    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-65d406b54b061" id="beyond" data-node="65d406b54b061">
        <div class="fl-row-content-wrap">
            <div class="fl-row-content fl-row-full-width fl-node-content">

                <div class="fl-col-group fl-node-65d406b55058d" data-node="65d406b55058d">
                    <div class="fl-col fl-node-65d406b55086b" data-node="65d406b55086b" style="width: 100%;">
                        <div class="fl-col-content fl-node-content">
                            <div class="fl-module fl-module-rich-text fl-node-65d40693b445c" data-node="65d40693b445c"
                                data-animation-delay="0.0">
                                <div class="fl-module-content fl-node-content">
                                    <div class="fl-rich-text">
                                        <p style="text-align: center;"><span style="font-size: medium;"><strong>Beyond
                                                    the
                                                    Window: Crafting Experiences</strong></span></p>
                                        <p style="text-align: center;"><span style="font-size: medium;">At MEDO, we
                                                understand that a window is more than just a static element</span><br>
                                            <span style="font-size: medium;"> —it's a dynamic part of your daily
                                                life.</span>
                                        </p>
                                        <p style="text-align: center;"><strong><span
                                                    style="font-size: medium;">Precision
                                                    Engineering for Smooth Operation</span></strong><br>
                                            <span style="font-size: medium;"> The window precision engineering ensures a
                                                smooth and effortless operation,</span><br>
                                            <span style="font-size: medium;"> providing not only visual appeal but also
                                                practicality in every movement.</span>
                                        </p>
                                        <p style="text-align: center;"><strong><span style="font-size: medium;">Endless
                                                    Design Possibilities</span></strong><br>
                                            <span style="font-size: medium;"> Not a one-size-fits-all solution; it's a
                                                canvas for your imagination.</span><br>
                                            <span style="font-size: medium;"> Choose from a variety of finishes and
                                                colors
                                                to tailor the window to</span><br>
                                            <span style="font-size: medium;"> your project's unique aesthetic.</span>
                                        </p>
                                        <p style="text-align: center;"><strong><span style="font-size: medium;">Energy
                                                    Efficiency and Sustainability</span></strong><br>
                                            <span style="font-size: medium;"> Beyond beauty and
                                                functionality,</span><br>
                                            <span style="font-size: medium;"> the MD136 reflects our commitment to
                                                sustainability.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="two-image">
        <img src="https://www.medodecor.com/uploads/12-windows-casement-window.jpg" alt="image">
        <img src="https://www.medodecor.com/uploads/13-triple-casement-windows.jpg" alt="image">

    </div>
    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-65d406b54b061 " id="beyond2" style="margin-top: 20vh;"
        data-node="65d406b54b061">
        <div class="fl-row-content-wrap">
            <div class="fl-row-content fl-row-full-width fl-node-content">
                <div class="fl-col-group fl-node-65d406b55058d">
                    <div class="fl-col fl-node-65d406b55086b" style="width: 100%;">
                        <div class="fl-col-content fl-node-content">
                            <div class="fl-module fl-module-rich-text fl-node-65d40693b445c" data-animation-delay="0.0">
                                <div class="fl-module-content fl-node-content">
                                    <div class="fl-rich-text">
                                        <p style="text-align: center;"><span
                                                style="font-size: medium;"><strong>Exporting to
                                                    Your
                                                    Region</strong></span></p>
                                        <p style="text-align: center;  margin: 0vh 50vh 0vh 50vh;"><span
                                                style="font-size: medium;">With a focus on
                                                exporting to America, Mexico, Middle East Arabia and Asia countries,
                                                MEDO understands the global market's diverse needs.
                                                Our windows are crafted to meet international standards,
                                                ensuring that your project benefits from the excellence and reliability
                                                that MEDO represents.
                                                Global Excellence, Local Expertise</span><br>
                                        </p>
                                        <p style="text-align: center; margin: 5vh 50vh 0vh 50vh;"><strong><span
                                                    style="font-size: medium;">Local
                                                    Support and Customization</span></strong><br>
                                            <span style="font-size: medium;">While we operate globally, we understand
                                                the importance of local expertise.
                                                Our team is dedicated to providing personalized support,
                                                ensuring that your MD136 Slimline Casement Windows are not just a
                                                product
                                                but a tailored solution that aligns seamlessly with your project's
                                                requirements.</span><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="two-image">
        <img src="https://www.medodecor.com/uploads/14-modern-casement-windows1.jpg" alt="image">
        <img src="https://www.medodecor.com/uploads/15-modern-casement-windows-%E5%89%AF%E6%9C%AC1.jpg" alt="image">

    </div>


</div>
<div class="button-container">
    <!-- Button to show the first div -->
    <button (click)="firstButton()" class="button-one">More Info</button>

    <!-- Button to hide the first div and show the second div -->
    <button (click)=" secondButton ()   " class="button-two">Hide</button>
</div>

<div *ngIf="isFirstDivVisible" class="button-one-container">
    <div>
        <img src="https://www.medodecor.com/uploads/Casement-window4.jpg" class="image-one" alt="image">
        <ul class="specification" style="font-size: 13px;">
            <li>
                High Stability
            </li>
            <li>
                High Efficiency
            </li>
            <li>
                High Versatility
            </li>
            <li>
                Low Stock
            </li>
            <li>
                Extra Value Barrier-Free Access
            </li>
            <li>
                Low Maintenance Cost
            </li>
            <li>
                Enhanced Durability
            </li>
        </ul>
    </div>

    <div class="table-container">
        <h2>Product Performance</h2>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>MDPC80A70 <br>Inswing window <br>with fly net</th>
                    <th>MDPC80A70 <br>
                        Double inswing <br> window</th>
                    <th>MDPC80A70 <br>
                        Outswing <br> window</th>
                    <th>MDPC80A70 <br>
                        Outswing <br> window</th>
                    <th>MDPC80A120 <br>
                        Outswing <br> window withf <br>fiynet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Air tightness</td>
                    <td>Level 7</td>
                    <td>Level 7</td>
                    <td>Level 7</td>
                    <td>Level 6</td>
                    <td>Level ?</td>
                </tr>
                <tr>
                    <td>Water tightness</td>
                    <td>Level 3 (300pa )</td>
                    <td>Level 3 (300pa )</td>
                    <td>Level 3 (300pa )</td>
                    <td>Level 3 (300pa )</td>
                    <td>Level 3 (300pa )</td>
                </tr>
                <tr>
                    <td>Wind resistance</td>
                    <td>Level 5 ( 3200P3 )</td>
                    <td>Level 5 ( 3200P3 )</td>
                    <td>Level 5 ( 3200P3 )</td>
                    <td>Level 5 ( 3200P3 )</td>
                    <td>Level 5 ( 3200P3 )</td>
                </tr>
                <tr>
                    <td>Thermal insulation</td>
                    <td>Level 6 (2.0w/m²k )</td>
                    <td>Level 6 (2.0w/m²k )</td>
                    <td>Level 6 (2.0w/m²k )</td>
                    <td>Level 6 (2.0w/m²k )</td>
                    <td>Level 6 (2.0w/m²k )</td>
                </tr>
                <tr>
                    <td>Sound insulation</td>
                    <td>Level4(35dB)</td>
                    <td>Level4(35dB)</td>
                    <td>Level4(35dB)</td>
                    <td>Level4(35dB)</td>
                    <td>Level4(35dB)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-container">
        <h2>Technical Parameter</h2>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>MDPC80A80 <br>In swing <br>window with <br>flynet</th>
                    <th>MDPC80A80<br>
                        Double <br>inswing window</th>
                    <th>MDPC80A80 <br>
                        Outswing <br> window</th>
                    <th>MDPC80A80 <br>
                        Casement door</th>
                    <th>MDPC80A80 <br>
                        Window door</th>
                    <th>MDPC80A130 <br>
                        Outswing window <br>wrthf ftynet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Air tightness</td>
                    <td>Level 8</td>
                    <td>Level 8</td>
                    <td>Level 8</td>
                    <td>Level 6</td>
                    <td>Level 8</td>
                    <td>Level 8</td>
                </tr>
                <tr>
                    <td>Water tightness</td>
                    <td>Level4(350pa)</td>
                    <td>Level4(350pa)</td>
                    <td>Level4(350pa)</td>
                    <td>Level 3( 300pa)</td>
                    <td>Level 4 ( 350pa )</td>
                    <td>Level 4 ( 350pa )</td>
                </tr>
                <tr>
                    <td>Wind resistance</td>
                    <td>Level 6 ( 3500Pa )</td>
                    <td>Level 6 ( 3500Pa )</td>
                    <td>Level 6 ( 3500Pa )</td>
                    <td>Level 6 ( 3500Pa )</td>
                    <td>Level 6 ( 3500Pa )</td>
                    <td>Level 9 ( SOOOPa )</td>

                </tr>
                <tr>
                    <td>Thermal insulation</td>
                    <td>Level 6 (2.3w/m²k )</td>
                    <td>Level 6 (Z3w/m²k )</td>
                    <td>Level 6 (2.3w/m²k )</td>
                    <td>Level 6 (2.1w/m²k )</td>
                    <td>Level 6 (2.3w/m²k )</td>
                    <td>Level 6 (2.3w/m²k )</td>
                </tr>
                <tr>
                    <td>Sound insulation</td>
                    <td>Level4(37dB)</td>
                    <td>Level4(37dB)</td>
                    <td>Level4(35dB)</td>
                    <td>Level4(36dB)</td>
                    <td>Level4(37dB)</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="image-two">
        <img src="https://www.medodecor.com/uploads/Casement-window111.jpg" alt="image">
        <img src="https://www.medodecor.com/uploads/Casement-window121.jpg" alt="image">

    </div>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_4Ci71T4OSs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="specification-container">
        <h4>Thermal Break, multi-cavity design, hidden drainage</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon21.jpg" alt="image">
                    <h6>Thermal break</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon31.jpg" alt="image">
                    <h6>Multi-cavity</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon41.jpg" alt="image">
                    <h6>Versatile</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon11.jpg" alt="image">
                    <h6>Diversified</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>Excellent thermal insulation with thermal break profile, large multi-cavity thermal break strip, and
                    thick insulated
                    glass. Low stock withless cash flow pressure with highly versatile profiles. Diversified product
                    range enables all areas
                    and scenarios to find its mostsuitable products to meet various needs on style and function.
                    Innovative items such as
                    window-door and double inswing window etc. can exceed your expectation to meet your need that you
                    may not even notice,
                    and thus to lead the market trend.</p>
            </div>
        </div>
    </div>
    <div class="specification-container">
        <h4>lnjection technology, high sealing performance</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon5.jpg" alt="image">
                    <h6>Corner code glue injection</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon6.jpg" alt="image">
                    <h6>High air tightness</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon7.jpg" alt="image">
                    <h6>High water tightness</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon8.jpg" alt="image">
                    <h6>Hidden drainage</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>Full series apply corner glue injection process to achieve high joint strength. Abundant mullion
                    joint sealing
                    accessories and concealed drainage have largely improved water tightness. What'smore, premium EPDM
                    gaskets have enhanced
                    the air tightness and water tightness.</p>
            </div>
        </div>
    </div>
    <div class="specification-container">
        <h4>Creative corner protector, high translucent stainless steel flynet</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon9.jpg" alt="image">
                    <h6>Barrier-free access</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon10.jpg" alt="image">
                    <h6>Creative corner protector</h6>
                </div>

            </div>
            <div class="paragraph">
                <p>Casement door unobstructed bottom frame provides barrier-freeaccess. Stainless steel flynet and
                    highly translucent
                    concealed flymesh are available to meet different needs on fly mesh functionand outlook. Creative
                    corner protector for
                    inswing window provides not only beautiful design but also extra safety to avoid sharp corner.</p>
            </div>
        </div>
    </div>

    <div class="specification-container">
        <h4>Home application</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon111.jpg" alt="image">
                    <h6>Extreme aesthetics</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon12.jpg" alt="image">
                    <h6>Safety</h6>
                </div>

            </div>
            <div class="paragraph">
                <p>Dual-color profile,which means inner profile and outer profile indifferentcolors,can well match the
                    interior design and
                    the exteriorbuilding outlook.Pry-resistant lock point and keeper provide extrasafety and enhance the
                    wind load
                    resistance performance forbetter air tightness and water tightness.Baseless handle
                    providescomfortable living experience
                    with minimalist appearance,smoothdesign lines,and quiet operation.Users can rest assured withwindow
                    safety even in
                    extremely bad climate with fail safe device.</p>
            </div>
        </div>
    </div>

    <div class="image-two">
        <img src="https://www.medodecor.com/uploads/100A.jpg" alt="image">
        <div class="text-on-image">
            <h5>MDPC100A
                Open method
            </h5>
            <img src="https://www.medodecor.com/uploads/100A1.jpg" alt="image">
        </div>

    </div>

    <div class="product-structure">
        <h4>Product structure</h4>
        <div class="specification2">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/mac100a.jpg" alt="image">
                    <h6>MDPC100A Outswing window</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/mac100a.jpg" alt="image">
                    <h6>MDPC100A110 Outswing window <br>
                        (aligned frame sash+opendable protective fence)</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/mac100a.jpg" alt="image">
                    <h6>MDPC100A110 Outswing window <br>
                        (aligned frame sash+opendable protective fence)</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/mac100a.jpg" alt="image">
                    <h6>MDPC100A120 Outswing window <br>
                        (aligned frame sash+opendable protective fence)</h6>
                </div>

            </div>
        </div>
    </div>

    <div class="table1">
        <h2>Technical parameter</h2>
        <table border="1" cellpadding="20" cellspacing="0"
            style="border-collapse: collapse; text-align: center; margin-top: 5vh;">
            <thead>
                <tr>
                    <th colspan="2" rowspan="2"></th>
                    <th colspan="1" rowspan="2">MDPC100A <br>
                        Outswing window</th>
                    <th colspan="3" rowspan="1">Outswing window aligned frame sash+opendable protective fence</th>
                </tr>
                <tr>
                    <th>MDPC100A110</th>
                    <th>MDPC100A110</th>
                    <th>MDPC100A120</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Size</td>
                    <td>Glass panel</td>
                    <td>89mm</td>
                    <td>89mm</td>
                    <td>89mm</td>
                    <td>89mm</td>
                </tr>
                <tr>
                    <td>Flynet</td>
                    <td>50mm</td>
                    <td>50mm</td>
                    <td>50mm</td>
                    <td>50mm</td>
                </tr>
                <tr>
                    <td rowspan="2">Profile thickness</td>
                    <td>Wall thickness</td>
                    <td>1.6mm</td>
                    <td>1.6mm</td>
                    <td>1.6mm</td>
                    <td>1.6mm</td>
                </tr>
                <tr>
                    <td>Frame thickness</td>
                    <td>100mm</td>
                    <td>110mm</td>
                    <td>120mm</td>
                    <td>120mm</td>
                </tr>
                <tr>
                    <td rowspan="2">Size range</td>
                    <td>Width</td>
                    <td>500mm-800mm</td>
                    <td>500mm-800mm</td>
                    <td>500mm-800mm</td>
                    <td>500mm-800mm</td>
                </tr>
                <tr>
                    <td>Height</td>
                    <td>700mm-1800mm</td>
                    <td>700mm-1800mm</td>
                    <td>700mm-1800mm</td>
                    <td>700mm-1800mm</td>
                </tr>
                <tr>
                    <td colspan="2">Glass</td>
                    <td>38mm/47mm</td>
                    <td>38mm/47mm</td>
                    <td>38mm/47mm</td>
                    <td>38mm/47mm</td>
                </tr>
                <tr>
                    <td colspan="2">Max load</td>

                    <td colspan="4">80kg</td>
                </tr>
                <tr>
                    <td colspan="2">Application</td>

                    <td colspan="4">All exterior windows and doors</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table2">
        <h2>Product performance</h2>
        <table border="1" cellpadding="42" cellspacing="0"
            style="border-collapse: collapse; text-align: center; margin-top: 5vh;">
            <thead>
                <tr>
                    <th colspan="1" rowspan="2"></th>
                    <th colspan="1" rowspan="2">MDPC100A <br>
                        Outswing window</th>
                    <th colspan="3" rowspan="1">Outswing window aligned frame sash+opendable protective fence</th>
                </tr>
                <tr>
                    <th>MDPC100A110</th>
                    <th>MDPC100A110</th>
                    <th>MDPC100A120</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="1">Air tightness</td>
                    <td colspan="4">Level 7</td>

                </tr>
                <tr>
                    <td rowspan="1">Water tightness</td>
                    <td colspan="4">Level 4 ( 350pa )</td>

                </tr>
                <tr>
                    <td rowspan="1">Wind resistance</td>
                    <td colspan="4">Level 8~9 ( 4500~5000Pa )</td>

                </tr>
                <tr>
                    <td rowspan="1">Thermal insulation</td>
                    <td colspan="4">Level 5 ( 2.5~2.8w/m²k )</td>

                </tr>
                <tr>
                    <td rowspan="1">Sound insulation</td>
                    <td colspan="4">Level 4 ( 35~37dB )</td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="single-image">
        <img src="https://www.medodecor.com/uploads/100A6.jpg" alt="">
    </div>
    <div class="video-container">
        <iframe width="700" height="315" src="https://www.youtube.com/embed/NGA7-W1ovD4" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <div class="specification-container">
        <h4>Patented design, mortise and tenon tech, stepped hidden drainage</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon13.jpg" alt="image">
                    <h6>Patented design</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon14.jpg" alt="image">
                    <h6>Mortise and tenon tech</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon15.jpg" alt="image">
                    <h6>Stepped hidden drainage</h6>
                </div>

            </div>
            <div class="paragraph">
                <p>Excellent thermal insulation with thermal break profile, large multi-cavitythermal break strip, and
                    thick insulated
                    glass. Original structure design, built-in drainage channel, enhanced water tightness. Water
                    tightness and wind
                    resistance are improved by the mortise and tenon connected mullion. Multistep three-layer sealing
                    and hidden drainage
                    structure for better water tightness.</p>
            </div>
        </div>
    </div>

    <div class="specification-container">
        <h4>Openable security fence, 45°joint integrated glass beaddrainage</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon16.jpg" alt="image">
                    <h6>Openable security fence</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon17.jpg" alt="image">
                    <h6>45°joint integrated glass bead</h6>
                </div>

            </div>
            <div class="paragraph">
                <p>The strip-free conversion frame largely improves the production efficiency. Openable security fence
                    not only ensures
                    safety but also makes escape easier if any emergency. Aligned sash and frame with 45° corner joint
                    provides neat and
                    beautiful outlook.</p>
            </div>
        </div>
    </div>
    <div class="specification-container">
        <h4>Creative corner protector, Glue injection technology, Innovative corner column</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon10.jpg" alt="image">
                    <h6>Creative corner protector</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon5.jpg" alt="image">
                    <h6>Glue injection technology</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon18.jpg" alt="image">
                    <h6>Innovative corner column</h6>
                </div>

            </div>
            <div class="paragraph">
                <p>Premium composite EPDM gaskets are applied to improve the air tightness and water tightness. Creative
                    corner protector
                    for inswing window provides not only beautiful design but also extra safety to avoid sharp corner.
                    Full series apply
                    corner glue injection processto achieve high joint strength. Innovative corner column design makes
                    corner joint safe and
                    beautiful.</p>
            </div>
        </div>
    </div>
    <div class="specification-container">
        <h4>Openable security fence, 45°joint integrated glass beaddrainage</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon111.jpg" alt="image">
                    <h6>Extreme aesthetics</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon12.jpg" alt="image">
                    <h6>Safety</h6>
                </div>

            </div>
            <div class="paragraph">
                <p>Dual-color profile,which means inner profile and outer profile in different colors, can well match
                    the interior design
                    and the exterior building outlook. Pry-resistant lock point and keeper provide extra safety and
                    enhance the wind load
                    resistance performance for better air tightness and water tightness. Baseless handle provides
                    comfortable living
                    experience with minimalist appearance, smooth design lines, and quiet operation. Users can rest
                    assured with window
                    safety even in extremely bad climate with fail safe device. Reinforced hinge with strengthened joint
                    makes windows more
                    stable, durable and safer.</p>
            </div>
        </div>
    </div>

    <div class="image-two">
        <img src="https://www.medodecor.com/uploads/MDPC120A.jpg" alt="image">
        <div class="text-on-image">
            <h5>MDPC120A
                Open method
            </h5>
            <img src="https://www.medodecor.com/uploads/MDPC120A-1.png" alt="image">
        </div>
    </div>

    <div class="specification-container">
        <h4>Product structure</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon19.jpg" alt="image">
                    <h6>MDPC120A Double inswing window</h6>
                </div>

            </div>
            <div class="paragraph">
                <p>Stunning appearance is the first impression it gives! Unique and patented structure design, double
                    inswing opening,
                    concealed flynet, aligned frame and sash, minimalist design language, stepped multiple sealing,
                    hidden drainage,
                    patented opening method......Besides those, you will keep.</p>
            </div>
        </div>
    </div>

    <div class="image-two">
        <img src="https://www.medodecor.com/uploads/110A2.jpg" alt="image">
        <div class="text-on-image">
            <h5>MDPC100A
                Open method
            </h5>
            <img src="https://www.medodecor.com/uploads/MDPC110A-2.jpg" alt="image">
        </div>

    </div>

    <div class="product-structure">
        <h4>Product structure</h4>
        <div class="specification2">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/110A1.jpg" alt="image">
                    <h6>MDPC110A110 <br> <br>
                        Inswing window + Inswing flynet</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/mac100a.jpg" alt="image">
                    <h6>MDPC110A120 <br> <br>
                        Outswing window + Inswing flynet</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/mac100a.jpg" alt="image">
                    <h6>MDPC110A130 <br> <br>
                        Outswing window + Inswing flynet</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="table3">
        <h2>Product performance</h2>
        <table border="2" cellpadding="30" cellspacing="20"
            style="border-collapse: collapse; text-align: center; margin-top: 5vh;">
            <thead>
                <tr>
                    <th colspan="1" rowspan="1" style="width: 80vh;"></th>

                    <th colspan="1" rowspan="1" style="width: 80vh;">MDPC120A Double inswing window</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td rowspan="1">Air tightness</td>
                    <td>Level 8</td>

                </tr>
                <tr>
                    <td rowspan="1"> Water tightness</td>
                    <td>Level 4 ( 350pa )</td>

                </tr>
                <tr>
                    <td rowspan="1">Wind resistance</td>
                    <td>Level 9 ( 500OPa )</td>

                </tr>
                <tr>
                    <td rowspan="1">Thermal insulation</td>
                    <td>Level 6 ( 2.0w/m²k )</td>

                </tr>
                <tr>
                    <td rowspan="1">Sound insulation</td>
                    <td>Level 4 ( 37dB )</td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="image-two">
        <img src="https://www.medodecor.com/uploads/MDPC110A-4.jpg" alt="image">
        <img src="https://www.medodecor.com/uploads/MDPC110A-5.jpg" alt="image">

    </div>

    <div class="video-container">
        <iframe width="700" height="315" src="https://youtube.com/embed/3UfSoFR4c6E" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <div class="single-image">
        <img src="https://www.medodecor.com/uploads/MDPC120A-7.jpg" alt="image">
    </div>
    <div class="specification-container">
        <h4>Patented design, mortise and tenon tech, stepped hidden drainage</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon13.jpg" alt="image">
                    <h6>Patented design</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon14.jpg" alt="image">
                    <h6>Mortise and tenon tech</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon15.jpg" alt="image">
                    <h6>Stepped hidden drainage</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>Excellent thermal insulation with thermal break profile, large multi-cavitythermal break strip, and
                    thick insulated
                    glass. Original structure design, built-in drainage channel, enhanced water tightness. Water
                    tightness and wind
                    resistance are improved by the mortise and tenon connected mullion. Multistep three-layer sealing
                    and hidden drainage
                    structure for better water tightness.</p>
            </div>
        </div>
    </div>
    <div class="specification-container">
        <h4>Openable security fence, 45°joint integrated glass beaddrainage</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon16.jpg" alt="image">
                    <h6>Openable security fence</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon17.jpg" alt="image">
                    <h6>45°joint integrated glass bead</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>The strip-free conversion frame largely improves the production efficiency. Openable security fence
                    not only ensures
                    safety but also makes escape easier if any emergency. Aligned sash and frame with 45° corner joint
                    provides neat and
                    beautiful outlook.</p>
            </div>
        </div>
    </div>
    <div class="specification-container">
        <h4>Creative corner protector, Glue injection technology, Innovative corner column</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon10.jpg" alt="image">
                    <h6>Creative corner protector</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon5.jpg" alt="image">
                    <h6>Glue injection technology</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon18.jpg" alt="image">
                    <h6>Innovative corner column</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>Premium composite EPDM gaskets are applied to improve the air tightness and water tightness. Creative
                    corner protector
                    for inswing window provides not only beautiful design but also extra safety to avoid sharp corner.
                    Full series apply
                    corner glue injection processto achieve high joint strength. Innovative corner column design makes
                    corner joint safe and
                    beautiful.
                </p>
            </div>
        </div>
    </div>
    <div class="specification-container">
        <h4>Patented design, mortise and tenon tech, stepped hidden drainage</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon111.jpg" alt="image">
                    <h6>Extreme aesthetics</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon12.jpg" alt="image">
                    <h6>Safety</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>Dual-color profile,which means inner profile and outer profile in different colors, can well match
                    the interior design
                    and the exterior building outlook. Pry-resistant lock point and keeper provide extra safety and
                    enhance the wind load
                    resistance performance for better air tightness and water tightness. Baseless handle provides
                    comfortable living
                    experience with minimalist appearance, smooth design lines, and quiet operation. Users can rest
                    assured with window
                    safety even in extremely bad climate with fail safe device. Reinforced hinge with strengthened joint
                    makes windows more
                    stable, durable and safer.</p>
            </div>
        </div>
    </div>

    <div class="image-two">
        <img src="https://www.medodecor.com/uploads/MDPC120A.jpg" alt="image">
        <div class="text-on-image">
            <h5>MDPC120A
                Open method
            </h5>
            <img src="https://www.medodecor.com/uploads/MDPC120A-1.png" alt="image">
        </div>
    </div>

    <div class="specification-container">
        <h4>Patented design, mortise and tenon tech, stepped hidden drainage</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon19.jpg" alt="image">
                    <h6>MDPC120A Double inswing window</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>Stunning appearance is the first impression it gives! Unique and patented structure design, double
                    inswing opening,
                    concealed flynet, aligned frame and sash, minimalist design language, stepped multiple sealing,
                    hidden drainage,
                    patented opening method......Besides those, you will keep.</p>
            </div>
        </div>
    </div>

    <div class="table3">
        <h2>Product performance</h2>
        <table border="2" cellpadding="30" cellspacing="20"
            style="border-collapse: collapse; text-align: center; margin-top: 5vh;">
            <thead>
                <tr>
                    <th colspan="1" rowspan="1" style="width: 80vh;"></th>

                    <th colspan="1" rowspan="1" style="width: 80vh;">MDPC120A Double inswing window</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td rowspan="1">Air tightness</td>
                    <td>Level 8</td>

                </tr>
                <tr>
                    <td rowspan="1"> Water tightness</td>
                    <td>Level 4 ( 350pa )</td>

                </tr>
                <tr>
                    <td rowspan="1">Wind resistance</td>
                    <td>Level 9 ( 500OPa )</td>

                </tr>
                <tr>
                    <td rowspan="1">Thermal insulation</td>
                    <td>Level 6 ( 2.0w/m²k )</td>

                </tr>
                <tr>
                    <td rowspan="1">Sound insulation</td>
                    <td>Level 4 ( 37dB )</td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="video-container">
        <iframe width="560" height="315" src="https://youtube.com/embed/3UfSoFR4c6E" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="single-image">
        <img src="https://www.medodecor.com/uploads/MDPC120A-7.jpg" alt="">
    </div>


    <div class="specification-container">
        <h4>lnnovative structure and design, huge size, 5 seals</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon21.jpg" alt="image">
                    <h6>Thermal break</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon20.jpg" alt="image">
                    <h6>innovative design</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon211.jpg" alt="image">
                    <h6>Large size</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon22.jpg" alt="image">
                    <h6>5 seals</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>Excellent thermal insulation with thermal break profile, large multi-cavity thermal break strip, and
                    thick insulated
                    glass. Innovative mullion and glass bead structure combined with aligned sash and frame provides
                    well balanced slim
                    outlook with smooth design lines. 5 seals with premium composite EPDM gaskets largely enhanced the
                    water tightness and
                    air tightness.</p>
            </div>
        </div>
    </div>
    <div class="specification-container">
        <h4>Double inner opening, hidden yarn technology, detachable yarn fan</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/ico23.jpg" alt="image">
                    <h6>Double inner opening</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon23.jpg" alt="image">
                    <h6>Invisible Gauze</h6>
                </div>

            </div>
            <div class="paragraph">
                <p>Double inswing opening method is highly recommended for high risebuilding for safe operation and
                    cleaning. Concealed fly
                    mesh providesstunning appearance and excellent nature lighting.</p>
            </div>
        </div>
    </div>
    <div class="specification-container">
        <h4>45°joint integrated glass beaddrainage, Hidden drainage</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon17.jpg" alt="image">
                    <h6>45°joint integrated glass bead</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon8.jpg" alt="image">
                    <h6>Hidden drainage</h6>
                </div>

            </div>
            <div class="paragraph">
                <p>Aligned sash and frame with 45° corner joint provides neat and beautiful outlook. Abundant mullion
                    joint sealing
                    accessories and concealed.</p>
            </div>
        </div>
    </div>
    <div class="specification-container">
        <h4>Home application</h4>
        <div class="specification1">

            <div class="images">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon111.jpg" alt="image">
                    <h6>Extreme aesthetics</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon12.jpg" alt="image">
                    <h6>Safety</h6>
                </div>
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/icon24.jpg" alt="image">
                    <h6>Datachable yarn fan</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>Pry-resistant lock point and keeper provide extra safety and enhance the wind load resistance
                    performance for better air
                    tightness and water tightness. Baseless handle provides comfortable living experience with
                    minimalist appearance, smooth
                    design lines, and quiet operation.</p>
            </div>
        </div>
    </div>

</div>

<div *ngIf="isSecondDivVisible">
</div>

<app-footer></app-footer>