<app-navbar></app-navbar>
<div class="image-container">
    <img src="https://cdnus.globalso.com/medodecor/Casement-window14.jpg" alt="">
</div>
<div class="image-data">
    <div class="image-three-column">
        <img src="https://cdnus.globalso.com/medodecor/4-double-casement-windows-300x300.jpg" alt="image">
        <img src="https://cdnus.globalso.com/medodecor/6-double-casement-window-300x300.jpg" alt="image">
        <img src="https://cdnus.globalso.com/medodecor/5-french-casement-windows-300x300.jpg" alt="image">

    </div>
    <div class="technical-data-container">
        <div class="technical-data">
            <h5>TECHNICAL DATA</h5>
            <ul>
                <li>Max weight
                    <span class="order">
                        <p>- Casement glass sash: 80kg</p>
                        <p>– Casement screen sash: 25kg</p>
                        <p>– Outward awning glass sash: 180kg</p>
                    </span>
                </li>
                <li>
                    Glass thickness:30 mm
                </li>
                <li>Max size(mm)
                    <span class="order">
                        <p>-Casement window: W 450~750|H 550~1800</p>
                        <p>- Awning window: W400~1500|H 430~3000</p>
                        <p>- Fix window: Max height 6000</p>
                    </span>
                </li>
            </ul>
        </div>
        <div class="features">
            <ul>
                <h5>FEATURES</h5>
                <li>Sash Flushed To Frame</li>
                <li>Concealed Handle & Hidden Drainage</li>
                <li>Column-Free & Aluminum Column Available</li>
                <li>Can Be Used For Curtain Wall</li>
            </ul>
        </div>
    </div>
</div>

<div>
    <div class="single-image-margin">
        <img src="https://www.medodecor.com/uploads/118.png" alt="image">
    </div>
    <div class="text-on-image-big">
        <h5>Customized Made Slimline Casement Window For Both Residential & Commercial</h5>
        <div class="image-two-small">

            <img src="https://www.medodecor.com/uploads/56.png" class="big-image" alt="image">
            <img src="https://www.medodecor.com/uploads/66.png" class="big-image" alt="image">
        </div>
    </div>
    <div class="text-on-image-big">
        <h5>open method</h5>
        <div class="image-two-small">
            <img src="https://www.medodecor.com/uploads/218-187x300.png" alt="image">
            <img src="https://www.medodecor.com/uploads/4-black-casement-windows1-212x300.jpg" alt="image">
            <img src="https://www.medodecor.com/uploads/3-types-of-casement-windows1-109x300.jpg" alt="image">

        </div>
    </div>
    <div class="specification-container2">
        <h4 class="to-right">Features</h4>
        <div class="specification1" style="border: none;">

            <div class="image-with-text">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/7-home-depot-casement-windows-300x300.jpg" alt="image">
                    <h6>Sash Flushed To Frame</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>The sash is seamlessly flushed to the frame, creating a smooth, unified surface that enhances both
                    aesthetics and
                    functionality. This design choice ensures that the MD136 complements any architectural style with
                    grace and
                    sophistication.</p>
            </div>
        </div>
    </div>
    <div class="specification-container2">
        <div class="specification1" style="border: none;">

            <div class="image-with-text">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/WPS%E6%8B%BC%E5%9B%BE01.png" alt="image">
                    <h6>Concealed Handle & Hidden Drainage</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>Elegance meets practicality with concealed handle.

                    This thoughtful design element not only adds a touch of
                    sophistication but also ensures a clutter-free appearance.

                    Additionally, our hidden drainage system goes beyond
                    aesthetics, preventing water accumulation and
                    maintaining the window's pristine look over time.</p>
            </div>
        </div>
    </div>
    <div class="specification-container2">
        <div class="specification1" style="border: none;">

            <div class="image-with-text">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/10-casement-windows-300x225.jpg" alt="image">
                    <h6>Column-Free & Aluminum Column Available</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>Freedom of design meets structural integrity with the column-free
                    option.
                    Enjoy unobstructed panoramic views, creating a sense of openness
                    and space.
                    This flexibility ensures the widnow seamlessly integrates into your
                    vision, providing both form and function.</p>
            </div>
        </div>
    </div>
    <div class="specification-container2">
        <div class="specification1" style="border: none;">

            <div class="image-with-text">
                <div class="image-text">
                    <img src="https://www.medodecor.com/uploads/11-exterior-casement-window-300x225.jpg" alt="image">
                    <h6>Can Be Used For Curtain Wall</h6>
                </div>
            </div>
            <div class="paragraph">
                <p>It's a versatile design element that can be seamlessly
                    incorporated into curtain wall systems.

                    This flexibility allows architects and designers to unleash
                    their creativity, transforming spaces into works of art</p>
            </div>
        </div>
    </div>

    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-65d406b54b061" id="beyond" data-node="65d406b54b061">
        <div class="fl-row-content-wrap">
            <div class="fl-row-content fl-row-full-width fl-node-content">

                <div class="fl-col-group fl-node-65d406b55058d" data-node="65d406b55058d">
                    <div class="fl-col fl-node-65d406b55086b" data-node="65d406b55086b" style="width: 100%;">
                        <div class="fl-col-content fl-node-content">
                            <div class="fl-module fl-module-rich-text fl-node-65d40693b445c" data-node="65d40693b445c"
                                data-animation-delay="0.0">
                                <div class="fl-module-content fl-node-content">
                                    <div class="fl-rich-text">
                                        <p style="text-align: center;"><span style="font-size: medium;"><strong>Beyond
                                                    the
                                                    Window: Crafting Experiences</strong></span></p>
                                        <p style="text-align: center;"><span style="font-size: medium;">At MEDO, we
                                                understand that a window is more than just a static element</span><br>
                                            <span style="font-size: medium;"> —it's a dynamic part of your daily
                                                life.</span>
                                        </p>
                                        <p style="text-align: center;"><strong><span
                                                    style="font-size: medium;">Precision
                                                    Engineering for Smooth Operation</span></strong><br>
                                            <span style="font-size: medium;"> The window precision engineering ensures a
                                                smooth and effortless operation,</span><br>
                                            <span style="font-size: medium;"> providing not only visual appeal but also
                                                practicality in every movement.</span>
                                        </p>
                                        <p style="text-align: center;"><strong><span style="font-size: medium;">Endless
                                                    Design Possibilities</span></strong><br>
                                            <span style="font-size: medium;"> Not a one-size-fits-all solution; it's a
                                                canvas for your imagination.</span><br>
                                            <span style="font-size: medium;"> Choose from a variety of finishes and
                                                colors
                                                to tailor the window to</span><br>
                                            <span style="font-size: medium;"> your project's unique aesthetic.</span>
                                        </p>
                                        <p style="text-align: center;"><strong><span style="font-size: medium;">Energy
                                                    Efficiency and Sustainability</span></strong><br>
                                            <span style="font-size: medium;"> Beyond beauty and
                                                functionality,</span><br>
                                            <span style="font-size: medium;"> the MD136 reflects our commitment to
                                                sustainability.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="two-image">
        <img src="https://www.medodecor.com/uploads/12-windows-casement-window.jpg" alt="image">
        <img src="https://www.medodecor.com/uploads/13-triple-casement-windows.jpg" alt="image">

    </div>
    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-65d406b54b061 " id="beyond2" style="margin-top: 20vh;"
        data-node="65d406b54b061">
        <div class="fl-row-content-wrap">
            <div class="fl-row-content fl-row-full-width fl-node-content">
                <div class="fl-col-group fl-node-65d406b55058d">
                    <div class="fl-col fl-node-65d406b55086b" style="width: 100%;">
                        <div class="fl-col-content fl-node-content">
                            <div class="fl-module fl-module-rich-text fl-node-65d40693b445c" data-animation-delay="0.0">
                                <div class="fl-module-content fl-node-content">
                                    <div class="fl-rich-text">
                                        <p style="text-align: center;"><span
                                                style="font-size: medium;"><strong>Exporting to
                                                    Your
                                                    Region</strong></span></p>
                                        <p style="text-align: center;  margin: 0vh 50vh 0vh 50vh;"><span
                                                style="font-size: medium;">With a focus on
                                                exporting to America, Mexico, Middle East Arabia and Asia countries,
                                                MEDO understands the global market's diverse needs.
                                                Our windows are crafted to meet international standards,
                                                ensuring that your project benefits from the excellence and reliability
                                                that MEDO represents.
                                                Global Excellence, Local Expertise</span><br>
                                        </p>
                                        <p style="text-align: center; margin: 5vh 50vh 0vh 50vh;"><strong><span
                                                    style="font-size: medium;">Local
                                                    Support and Customization</span></strong><br>
                                            <span style="font-size: medium;">While we operate globally, we understand
                                                the importance of local expertise.
                                                Our team is dedicated to providing personalized support,
                                                ensuring that your MD136 Slimline Casement Windows are not just a
                                                product
                                                but a tailored solution that aligns seamlessly with your project's
                                                requirements.</span><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="two-image">
        <img src="https://www.medodecor.com/uploads/14-modern-casement-windows1.jpg" alt="image">
        <img src="https://www.medodecor.com/uploads/15-modern-casement-windows-%E5%89%AF%E6%9C%AC1.jpg" alt="image">

    </div>


</div>
<div class="button-container">
    <!-- Button to show the first div -->
    <button (click)="firstButton()" class="button-one">More Info</button>

    <!-- Button to hide the first div and show the second div -->
    <button (click)=" secondButton ()   " class="button-two">Hide</button>
</div>

<div *ngIf="isFirstDivVisible" class="button-one-container">
   
<app-casement-window2></app-casement-window2>
</div>

<div *ngIf="isSecondDivVisible">
</div>

<app-footer class="footer"></app-footer>