<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img src="../../assets/images/logo.png" alt="logo" class="image-logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        WINDOWS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="Casement-Window">Casement Window</a></li>
                        <li><a class="dropdown-item" routerLink="#">Parallel Window</a></li>
                        <li><a class="dropdown-item" routerLink="#">Sliding Window</a></li>
                        <li><a class="dropdown-item" routerLink="#">Curtain Wall Window</a></li>
                        <li><a class="dropdown-item" routerLink="#">Motorized Lift Up Window</a></li>
                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li> -->
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        DOORS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="#">Slimline Sliding Door</a></li>
                        <li><a class="dropdown-item" routerLink="#">Conceal Track Slimline Sliding Door</a></li>
                        <li><a class="dropdown-item" routerLink="#">Slimline Lift And Slide Door</a></li>
                        <li><a class="dropdown-item" routerLink="#">Bi Folding Door</a></li>
                        <li><a class="dropdown-item" routerLink="#" routerLink="Casement-Door">Casement Door</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        UNIQUE
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="#">Motorized Systems</a></li>
                        <li><a class="dropdown-item" routerLink="#">Blind Between Glass</a></li>
                        <li><a class="dropdown-item" routerLink="#">Slimline Systems</a></li>
                        <li><a class="dropdown-item" routerLink="#">Sunrooms</a></li>
                        <li><a class="dropdown-item" routerLink="#">Pergola</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        FURNITURE
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="#">Bed</a></li>
                        <li><a class="dropdown-item" routerLink="#">Sofa</a></li>
                        <li><a class="dropdown-item" routerLink="#">Table</a></li>
                        <li><a class="dropdown-item" routerLink="#">Chair</a></li>
                        <li><a class="dropdown-item" routerLink="#">Cabinet</a></li>
                        <li><a class="dropdown-item" routerLink="#">Others</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="#">VIDEOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="#">NEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="#">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="#">CONTACT US</a>
                </li>
            </ul>
            <!-- <div class="search-input">
                <input type="text" class="" placeholder="Search">
                <img src="../../../assets/images/search-icon.svg" alt="search icon" height="22px" width="22px"
                    onclick="">
            </div> -->
        </div>
    </div>
</nav>