<!-- <footer class="web_footer" style="background-image: url(https://cdnus.globalso.com/medodecor/footer_bg.png)">

    <section class="foot_service">
        <div class="layout" >
            <div class="foot_items" >
                <nav class="foot_item foot_item_info">
                    <div class="foot_logo"> <img src="../../assets/images/logo.png" style="height: 200px; width: 300px;"
                            alt="25d599">
                    </div>
                </nav>
                <nav class="foot_item foot_item_contact">
                    <div class="foot_item_hd">
                        <h2 class="title">Quick links</h2>
                    </div>
                    <div class="foot_item_bd">
                        <ul class="foot_txt_list">
                            <li class="nav-current"><a href="/">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
                <nav class="foot_item foot_item_nav">
                    <div class="foot_item_hd">
                        <h2 class="title">WINDOWS</h2>
                    </div>
                    <div class="foot_item_bd">
                        <ul class="foot_txt_list">
                            <li><a href="#">Casement
                                    Window</a></li>
                            <li><a href="">Parallel
                                    Window</a></li>
                            <li><a href="#">Sliding
                                    Window</a></li>
                            <li><a href="#">Curtain
                                    Wall Window</a></li>
                            <li><a href="#">Motorized
                                    Lift Up Window</a></li>
                        </ul>
                    </div>
                </nav>
                <nav class="foot_item foot_item_nav">
                    <div class="foot_item_hd">
                        <h2 class="title">DOORS</h2>
                    </div>
                    <div class="foot_item_bd">
                        <ul class="foot_txt_list">
                            <li><a href="#">Slimline
                                    Sliding Door</a></li>
                            <li><a href="#">Conceal
                                    Track Slimline Sliding Door</a></li>
                            <li><a href="#">Slimline
                                    Lift and Slide Door</a></li>
                            <li><a href="#">Bi
                                    Folding Door</a></li>
                            <li><a href="#">Casement
                                    Door</a></li>
                        </ul>
                    </div>
                </nav>
                <nav class="foot_item foot_item_nav">
                    <div class="foot_item_hd">
                        <h2 class="title">UNIQUE</h2>
                    </div>
                    <div class="foot_item_bd">
                        <ul class="foot_txt_list">
                            <li><a href="#">Slimline Systems</a></li>
                            <li><a href="#">Motorized Systems</a></li>
                            <li><a href="#">Pergola And
                                    Shading</a></li>
                            <li><a href="#">Sunrooms</a></li>
                        </ul>
                    </div>
                </nav>
                <nav class="foot_item foot_item_nav">
                    <div class="foot_item_hd">
                        <h2 class="title">FURNITURE</h2>
                    </div>
                    <div class="foot_item_bd">
                        <ul class="foot_txt_list">
                            <li><a href="#">Sofa</a></li>
                            <li><a href="#">Bed</a></li>
                            <li><a href="#">Chair</a></li>
                            <li><a href="#">Table</a></li>
                            <li><a href="#">Cabinet</a></li>
                            <li><a href="#">Other</a></li>
                        </ul>
                    </div>
                </nav>
                <nav class="foot_item foot_item_nav">
                    <div class="foot_item_hd">
                        <h2 class="title">CONTACT</h2>
                    </div>
                    <div class="foot_item_bd">
                        <address class="foot_contact_list">
                            <ul>
                                <li class="contact_item">
                                    <div class="contact_txt">
                                        <span class="item_label">Phone: </span><a class="tel_link"
                                            href="tel:0086 159 2097 0640 (Bella)"><span class="item_val">0086 159 2097
                                                0640 (Bella)</span></a>

                                    </div>
                                </li>
                                <li class="contact_item">
                                    <div class="contact_txt">
                                        <span class="item_label item_label1">Phone: </span><a class="tel_link"
                                            href="tel:0033 6 5093 1674 (Alain)"><span class="item_val">0033 6 5093 1674
                                                (Alain)</span></a>

                                    </div>
                                </li>
                                <li class="contact_item">
                                    <div class="contact_txt">
                                        <span class="item_label">Email:</span><a href="mailto:sales@medodecor.com"><span
                                                class="item_val">hello</span></a>
                                    </div>
                                </li>
                            </ul>
                        </address>
                    </div>
                </nav>
            </div>
        </div>
    </section>
</footer> -->


<footer class="footer">
    <div class="logo">
        <img src="../../assets/images/logo.png" alt="">
    </div>
    <div class="links-container">
        <div class="links-item">
            <h5>Quick Links</h5>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Contact us</a></li>

            </ul>
        </div>
        <div class="links-item">
            <h5>Windows</h5>
            <ul>
                <li><a href="">Casement Window</a></li>
                <li><a href="">Parallel Window</a></li>
                <li><a href="">Sliding window</a></li>
                <li><a href="">Curtain Wall window</a></li>
                <li><a href="">Motorized Lift Up Window</a></li>

            </ul>
        </div>
        <div class="links-item">
            <h5>Doors</h5>
            <ul>
                <li><a href="">Slimline Sliding Door</a></li>
                <li><a href="">Conceal Track Slimline Sliding Door</a></li>
                <li><a href="">Slimline Lift and Slide Door</a></li>
                <li><a href="">Bi Folding Door</a></li>
                <li><a href="">Casement Door</a></li>

            </ul>
        </div>
        <div class="links-item">
            <h5>Unique</h5>
            <ul>
                <li><a href="">Slimline Systems</a></li>
                <li><a href="">Motorized Systems</a></li>
                <li><a href="">Pergola And Shading</a></li>
                <li><a href="">Sunrooms</a></li>

            </ul>
        </div>
        <div class="links-item">
            <h5>Furniture</h5>
            <ul>
                <li><a href="">Sofa</a></li>
                <li><a href="">Bed</a></li>
                <li><a href="">Chair</a></li>
                <li><a href="">Table</a></li>
                <li><a href="">Cabinet</a></li>
                <li><a href="">Other</a></li>

            </ul>
        </div>
        <div class="links-item">
            <h5>Contact</h5>
            <ul>
                <li><a href="www.google.com">Email : www.google.com</a></li>
                <li><a href="">Phone number : +96171900458 </a></li>

            </ul>
        </div>
    </div>


</footer>