<footer class="footer">
    <div class="logo">
        <img src="../../assets/images/logo.png" alt="">
    </div>
    <div class="links-container">
        <div class="links-item">
            <h5>Quick Links</h5>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Contact us</a></li>

            </ul>
        </div>
        <div class="links-item">
            <h5>Windows</h5>
            <ul>
                <li><a href="">Casement Window</a></li>
                <li><a href="">Parallel Window</a></li>
                <li><a href="">Sliding window</a></li>
                <li><a href="">Curtain Wall window</a></li>
                <li><a href="">Motorized Lift Up Window</a></li>

            </ul>
        </div>
        <div class="links-item">
            <h5>Doors</h5>
            <ul>
                <li><a href="">Slimline Sliding Door</a></li>
                <li><a href="">Conceal Track Slimline Sliding Door</a></li>
                <li><a href="">Slimline Lift and Slide Door</a></li>
                <li><a href="">Bi Folding Door</a></li>
                <li><a href="">Casement Door</a></li>

            </ul>
        </div>
        <div class="links-item">
            <h5>Unique</h5>
            <ul>
                <li><a href="">Slimline Systems</a></li>
                <li><a href="">Motorized Systems</a></li>
                <li><a href="">Pergola And Shading</a></li>
                <li><a href="">Sunrooms</a></li>

            </ul>
        </div>
        <div class="links-item">
            <h5>Furniture</h5>
            <ul>
                <li><a href="">Sofa</a></li>
                <li><a href="">Bed</a></li>
                <li><a href="">Chair</a></li>
                <li><a href="">Table</a></li>
                <li><a href="">Cabinet</a></li>
                <li><a href="">Other</a></li>

            </ul>
        </div>
        <div class="links-item">
            <h5>Contact</h5>
            <ul>
                <li><a href="www.google.com">Email : www.google.com</a></li>
                <li><a href="">Phone number : +96171900458 </a></li>

            </ul>
        </div>
    </div>


</footer>