<div class="first-image-button">
    <img src="https://www.medodecor.com/uploads/Casement-window4.jpg" class="image-one" alt="image">
    <ul class="specification" >
        <li>
            High Stability
        </li>
        <li>
            High Efficiency
        </li>
        <li>
            High Versatility
        </li>
        <li>
            Low Stock
        </li>
        <li>
            Extra Value Barrier-Free Access
        </li>
        <li>
            Low Maintenance Cost
        </li>
        <li>
            Enhanced Durability
        </li>
    </ul>
</div>

<div class="table-container">
    <h2>Product Performance</h2>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>MDPC80A70 <br>Inswing window <br>with fly net</th>
                <th>MDPC80A70 <br>
                    Double inswing <br> window</th>
                <th>MDPC80A70 <br>
                    Outswing <br> window</th>
                <th>MDPC80A70 <br>
                    Outswing <br> window</th>
                <th>MDPC80A120 <br>
                    Outswing <br> window withf <br>fiynet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Air tightness</td>
                <td>Level 7</td>
                <td>Level 7</td>
                <td>Level 7</td>
                <td>Level 6</td>
                <td>Level ?</td>
            </tr>
            <tr>
                <td>Water tightness</td>
                <td>Level 3 (300pa )</td>
                <td>Level 3 (300pa )</td>
                <td>Level 3 (300pa )</td>
                <td>Level 3 (300pa )</td>
                <td>Level 3 (300pa )</td>
            </tr>
            <tr>
                <td>Wind resistance</td>
                <td>Level 5 ( 3200P3 )</td>
                <td>Level 5 ( 3200P3 )</td>
                <td>Level 5 ( 3200P3 )</td>
                <td>Level 5 ( 3200P3 )</td>
                <td>Level 5 ( 3200P3 )</td>
            </tr>
            <tr>
                <td>Thermal insulation</td>
                <td>Level 6 (2.0w/m²k )</td>
                <td>Level 6 (2.0w/m²k )</td>
                <td>Level 6 (2.0w/m²k )</td>
                <td>Level 6 (2.0w/m²k )</td>
                <td>Level 6 (2.0w/m²k )</td>
            </tr>
            <tr>
                <td>Sound insulation</td>
                <td>Level4(35dB)</td>
                <td>Level4(35dB)</td>
                <td>Level4(35dB)</td>
                <td>Level4(35dB)</td>
                <td>Level4(35dB)</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-container">
    <h2>Technical Parameter</h2>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>MDPC80A80 <br>In swing <br>window with <br>flynet</th>
                <th>MDPC80A80<br>
                    Double <br>inswing window</th>
                <th>MDPC80A80 <br>
                    Outswing <br> window</th>
                <th>MDPC80A80 <br>
                    Casement door</th>
                <th>MDPC80A80 <br>
                    Window door</th>
                <th>MDPC80A130 <br>
                    Outswing window <br>wrthf ftynet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Air tightness</td>
                <td>Level 8</td>
                <td>Level 8</td>
                <td>Level 8</td>
                <td>Level 6</td>
                <td>Level 8</td>
                <td>Level 8</td>
            </tr>
            <tr>
                <td>Water tightness</td>
                <td>Level4(350pa)</td>
                <td>Level4(350pa)</td>
                <td>Level4(350pa)</td>
                <td>Level 3( 300pa)</td>
                <td>Level 4 ( 350pa )</td>
                <td>Level 4 ( 350pa )</td>
            </tr>
            <tr>
                <td>Wind resistance</td>
                <td>Level 6 ( 3500Pa )</td>
                <td>Level 6 ( 3500Pa )</td>
                <td>Level 6 ( 3500Pa )</td>
                <td>Level 6 ( 3500Pa )</td>
                <td>Level 6 ( 3500Pa )</td>
                <td>Level 9 ( SOOOPa )</td>

            </tr>
            <tr>
                <td>Thermal insulation</td>
                <td>Level 6 (2.3w/m²k )</td>
                <td>Level 6 (Z3w/m²k )</td>
                <td>Level 6 (2.3w/m²k )</td>
                <td>Level 6 (2.1w/m²k )</td>
                <td>Level 6 (2.3w/m²k )</td>
                <td>Level 6 (2.3w/m²k )</td>
            </tr>
            <tr>
                <td>Sound insulation</td>
                <td>Level4(37dB)</td>
                <td>Level4(37dB)</td>
                <td>Level4(35dB)</td>
                <td>Level4(36dB)</td>
                <td>Level4(37dB)</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="image-two">
    <img src="https://www.medodecor.com/uploads/Casement-window111.jpg" alt="image">
    <img src="https://www.medodecor.com/uploads/Casement-window121.jpg" alt="image">

</div>


<div class="specification-container">
    <h4>Thermal Break, multi-cavity <br> design, hidden drainage</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon21.jpg" alt="image">
                <h6>Thermal break</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon31.jpg" alt="image">
                <h6>Multi-cavity</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon41.jpg" alt="image">
                <h6>Versatile</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon11.jpg" alt="image">
                <h6>Diversified</h6>
            </div>
        </div>
        <div class="paragraph">
            <p>Excellent thermal insulation with thermal break profile, large multi-cavity thermal break strip, and
                thick insulated
                glass. Low stock withless cash flow pressure with highly versatile profiles. Diversified product
                range enables all areas
                and scenarios to find its mostsuitable products to meet various needs on style and function.
                Innovative items such as
                window-door and double inswing window etc. can exceed your expectation to meet your need that you
                may not even notice,
                and thus to lead the market trend.</p>
        </div>
    </div>
</div>
<div class="specification-container">
    <h4>lnjection technology,<br> high sealing performance</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon5.jpg" alt="image">
                <h6>Corner code glue injection</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon6.jpg" alt="image">
                <h6>High air tightness</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon7.jpg" alt="image">
                <h6>High water tightness</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon8.jpg" alt="image">
                <h6>Hidden drainage</h6>
            </div>
        </div>
        <div class="paragraph">
            <p>Full series apply corner glue injection process to achieve high joint strength. Abundant mullion
                joint sealing
                accessories and concealed drainage have largely improved water tightness. What'smore, premium EPDM
                gaskets have enhanced
                the air tightness and water tightness.</p>
        </div>
    </div>
</div>
<div class="specification-container">
    <h4>Creative corner protector,<br> high translucent stainless  <br> steel flynet</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon9.jpg" alt="image">
                <h6>Barrier-free access</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon10.jpg" alt="image">
                <h6>Creative corner protector</h6>
            </div>

        </div>
        <div class="paragraph">
            <p>Casement door unobstructed bottom frame provides barrier-freeaccess. Stainless steel flynet and
                highly translucent
                concealed flymesh are available to meet different needs on fly mesh functionand outlook. Creative
                corner protector for
                inswing window provides not only beautiful design but also extra safety to avoid sharp corner.</p>
        </div>
    </div>
</div>

<div class="specification-container">
    <h4>Home application</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon111.jpg" alt="image">
                <h6>Extreme aesthetics</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon12.jpg" alt="image">
                <h6>Safety</h6>
            </div>

        </div>
        <div class="paragraph">
            <p>Dual-color profile,which means inner profile and outer profile indifferentcolors,can well match the
                interior design and
                the exteriorbuilding outlook.Pry-resistant lock point and keeper provide extrasafety and enhance the
                wind load
                resistance performance forbetter air tightness and water tightness.Baseless handle
                providescomfortable living experience
                with minimalist appearance,smoothdesign lines,and quiet operation.Users can rest assured withwindow
                safety even in
                extremely bad climate with fail safe device.</p>
        </div>
    </div>
</div>

<div class="image-two">
    <img src="https://www.medodecor.com/uploads/100A.jpg" alt="image">
    <div class="text-on-image">
        <h5>MDPC100A
            Open method
        </h5>
        <img src="https://www.medodecor.com/uploads/100A1.jpg" alt="image">
    </div>

</div>

<div class="product-structure">
    <h4>Product structure</h4>
    <div class="specification2">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/mac100a.jpg" alt="image">
                <h6>MDPC100A Outswing window</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/mac100a.jpg" alt="image">
                <h6>MDPC100A110 Outswing window <br>
                    (aligned frame sash+opendable protective fence)</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/mac100a.jpg" alt="image">
                <h6>MDPC100A110 Outswing window <br>
                    (aligned frame sash+opendable protective fence)</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/mac100a.jpg" alt="image">
                <h6>MDPC100A120 Outswing window <br>
                    (aligned frame sash+opendable protective fence)</h6>
            </div>

        </div>
    </div>
</div>

<div class="table1">
    <h2>Technical parameter</h2>
    <table border="1" cellpadding="20" cellspacing="0"
        style="border-collapse: collapse; text-align: center; margin-top: 5vh;">
        <thead>
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="1" rowspan="2">MDPC100A <br>
                    Outswing window</th>
                <th colspan="3" rowspan="1">Outswing window aligned frame sash+opendable protective fence</th>
            </tr>
            <tr>
                <th>MDPC100A110</th>
                <th>MDPC100A110</th>
                <th>MDPC100A120</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">Size</td>
                <td>Glass panel</td>
                <td>89mm</td>
                <td>89mm</td>
                <td>89mm</td>
                <td>89mm</td>
            </tr>
            <tr>
                <td>Flynet</td>
                <td>50mm</td>
                <td>50mm</td>
                <td>50mm</td>
                <td>50mm</td>
            </tr>
            <tr>
                <td rowspan="2">Profile thickness</td>
                <td>Wall thickness</td>
                <td>1.6mm</td>
                <td>1.6mm</td>
                <td>1.6mm</td>
                <td>1.6mm</td>
            </tr>
            <tr>
                <td>Frame thickness</td>
                <td>100mm</td>
                <td>110mm</td>
                <td>120mm</td>
                <td>120mm</td>
            </tr>
            <tr>
                <td rowspan="2">Size range</td>
                <td>Width</td>
                <td>500mm-800mm</td>
                <td>500mm-800mm</td>
                <td>500mm-800mm</td>
                <td>500mm-800mm</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>700mm-1800mm</td>
                <td>700mm-1800mm</td>
                <td>700mm-1800mm</td>
                <td>700mm-1800mm</td>
            </tr>
            <tr>
                <td colspan="2">Glass</td>
                <td>38mm/47mm</td>
                <td>38mm/47mm</td>
                <td>38mm/47mm</td>
                <td>38mm/47mm</td>
            </tr>
            <tr>
                <td colspan="2">Max load</td>

                <td colspan="4">80kg</td>
            </tr>
            <tr>
                <td colspan="2">Application</td>

                <td colspan="4">All exterior windows and doors</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table2">
    <h2>Product performance</h2>
    <table border="1" cellpadding="42" cellspacing="0"
        style="border-collapse: collapse; text-align: center; margin-top: 5vh;">
        <thead>
            <tr>
                <th colspan="1" rowspan="2"></th>
                <th colspan="1" rowspan="2">MDPC100A <br>
                    Outswing window</th>
                <th colspan="3" rowspan="1">Outswing window aligned frame sash+opendable protective fence</th>
            </tr>
            <tr>
                <th>MDPC100A110</th>
                <th>MDPC100A110</th>
                <th>MDPC100A120</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="1">Air tightness</td>
                <td colspan="4">Level 7</td>

            </tr>
            <tr>
                <td rowspan="1">Water tightness</td>
                <td colspan="4">Level 4 ( 350pa )</td>

            </tr>
            <tr>
                <td rowspan="1">Wind resistance</td>
                <td colspan="4">Level 8~9 ( 4500~5000Pa )</td>

            </tr>
            <tr>
                <td rowspan="1">Thermal insulation</td>
                <td colspan="4">Level 5 ( 2.5~2.8w/m²k )</td>

            </tr>
            <tr>
                <td rowspan="1">Sound insulation</td>
                <td colspan="4">Level 4 ( 35~37dB )</td>

            </tr>
        </tbody>
    </table>
</div>

<div class="single-image">
    <img src="https://www.medodecor.com/uploads/100A6.jpg" alt="">
</div>

<div class="specification-container">
    <h4>Patented design, mortise and <br> tenon tech, stepped hidden <br> drainage</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon13.jpg" alt="image">
                <h6>Patented design</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon14.jpg" alt="image">
                <h6>Mortise and tenon tech</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon15.jpg" alt="image">
                <h6>Stepped hidden drainage</h6>
            </div>

        </div>
        <div class="paragraph">
            <p>Excellent thermal insulation with thermal break profile, large multi-cavitythermal break strip, and
                thick insulated
                glass. Original structure design, built-in drainage channel, enhanced water tightness. Water
                tightness and wind
                resistance are improved by the mortise and tenon connected mullion. Multistep three-layer sealing
                and hidden drainage
                structure for better water tightness.</p>
        </div>
    </div>
</div>

<div class="specification-container">
    <h4>Openable security fence,<br> 45°joint integrated glass <br> beaddrainage</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon16.jpg" alt="image">
                <h6>Openable security fence</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon17.jpg" alt="image">
                <h6>45°joint integrated glass bead</h6>
            </div>

        </div>
        <div class="paragraph">
            <p>The strip-free conversion frame largely improves the production efficiency. Openable security fence
                not only ensures
                safety but also makes escape easier if any emergency. Aligned sash and frame with 45° corner joint
                provides neat and
                beautiful outlook.</p>
        </div>
    </div>
</div>
<div class="specification-container">
    <h4>Creative corner protector,<br> Glue injection technology,<br> Innovative corner column</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon10.jpg" alt="image">
                <h6>Creative corner protector</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon5.jpg" alt="image">
                <h6>Glue injection technology</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon18.jpg" alt="image">
                <h6>Innovative corner column</h6>
            </div>

        </div>
        <div class="paragraph">
            <p>Premium composite EPDM gaskets are applied to improve the air tightness and water tightness. Creative
                corner protector
                for inswing window provides not only beautiful design but also extra safety to avoid sharp corner.
                Full series apply
                corner glue injection processto achieve high joint strength. Innovative corner column design makes
                corner joint safe and
                beautiful.</p>
        </div>
    </div>
</div>
<div class="specification-container">
    <h4>Openable security fence,<br> 45°joint integrated glass <br> beaddrainage</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon111.jpg" alt="image">
                <h6>Extreme aesthetics</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon12.jpg" alt="image">
                <h6>Safety</h6>
            </div>

        </div>
        <div class="paragraph">
            <p>Dual-color profile,which means inner profile and outer profile in different colors, can well match
                the interior design
                and the exterior building outlook. Pry-resistant lock point and keeper provide extra safety and
                enhance the wind load
                resistance performance for better air tightness and water tightness. Baseless handle provides
                comfortable living
                experience with minimalist appearance, smooth design lines, and quiet operation. Users can rest
                assured with window
                safety even in extremely bad climate with fail safe device. Reinforced hinge with strengthened joint
                makes windows more
                stable, durable and safer.</p>
        </div>
    </div>
</div>

<div class="image-two">
    <img src="https://www.medodecor.com/uploads/MDPC120A.jpg" alt="image">
    <div class="text-on-image">
        <h5>MDPC120A
            Open method
        </h5>
        <img src="https://www.medodecor.com/uploads/MDPC120A-1.png" alt="image">
    </div>
</div>

<div class="specification-container">
    <h4>Product structure</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon19.jpg" alt="image">
                <h6>MDPC120A Double inswing window</h6>
            </div>

        </div>
        <div class="paragraph">
            <p>Stunning appearance is the first impression it gives! Unique and patented structure design, double
                inswing opening,
                concealed flynet, aligned frame and sash, minimalist design language, stepped multiple sealing,
                hidden drainage,
                patented opening method......Besides those, you will keep.</p>
        </div>
    </div>
</div>

<div class="image-two">
    <img src="https://www.medodecor.com/uploads/110A2.jpg" alt="image">
    <div class="text-on-image">
        <h5>MDPC100A
            Open method
        </h5>
        <img src="https://www.medodecor.com/uploads/MDPC110A-2.jpg" alt="image">
    </div>

</div>

<div class="product-structure">
    <h4>Product structure</h4>
    <div class="specification2">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/110A1.jpg" alt="image">
                <h6>MDPC110A110 <br> <br>
                    Inswing window + Inswing flynet</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/mac100a.jpg" alt="image">
                <h6>MDPC110A120 <br> <br>
                    Outswing window + Inswing flynet</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/mac100a.jpg" alt="image">
                <h6>MDPC110A130 <br> <br>
                    Outswing window + Inswing flynet</h6>
            </div>
        </div>
    </div>
</div>

<div class="table3">
    <h2>Product performance</h2>
    <table border="2" cellpadding="30" cellspacing="20"
        style="border-collapse: collapse; text-align: center; margin-top: 5vh;">
        <thead>
            <tr>
                <th colspan="1" rowspan="1" style="width: 80vh;"></th>

                <th colspan="1" rowspan="1" style="width: 80vh;">MDPC120A Double inswing window</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td rowspan="1">Air tightness</td>
                <td>Level 8</td>

            </tr>
            <tr>
                <td rowspan="1"> Water tightness</td>
                <td>Level 4 ( 350pa )</td>

            </tr>
            <tr>
                <td rowspan="1">Wind resistance</td>
                <td>Level 9 ( 500OPa )</td>

            </tr>
            <tr>
                <td rowspan="1">Thermal insulation</td>
                <td>Level 6 ( 2.0w/m²k )</td>

            </tr>
            <tr>
                <td rowspan="1">Sound insulation</td>
                <td>Level 4 ( 37dB )</td>

            </tr>
        </tbody>
    </table>
</div>
<div class="image-two">
    <img src="https://www.medodecor.com/uploads/MDPC110A-4.jpg" alt="image">
    <img src="https://www.medodecor.com/uploads/MDPC110A-5.jpg" alt="image">

</div>


<div class="single-image">
    <img src="https://www.medodecor.com/uploads/MDPC120A-7.jpg" alt="image">
</div>
<div class="specification-container">
    <h4>Patented design, mortise <br> and tenon tech, stepped hidden <br> drainage</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon13.jpg" alt="image">
                <h6>Patented design</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon14.jpg" alt="image">
                <h6>Mortise and tenon tech</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon15.jpg" alt="image">
                <h6>Stepped hidden drainage</h6>
            </div>
        </div>
        <div class="paragraph">
            <p>Excellent thermal insulation with thermal break profile, large multi-cavitythermal break strip, and
                thick insulated
                glass. Original structure design, built-in drainage channel, enhanced water tightness. Water
                tightness and wind
                resistance are improved by the mortise and tenon connected mullion. Multistep three-layer sealing
                and hidden drainage
                structure for better water tightness.</p>
        </div>
    </div>
</div>
<div class="specification-container">
    <h4>Openable security fence,<br> 45°joint integrated glass <br>beaddrainage</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon16.jpg" alt="image">
                <h6>Openable security fence</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon17.jpg" alt="image">
                <h6>45°joint integrated glass bead</h6>
            </div>
        </div>
        <div class="paragraph">
            <p>The strip-free conversion frame largely improves the production efficiency. Openable security fence
                not only ensures
                safety but also makes escape easier if any emergency. Aligned sash and frame with 45° corner joint
                provides neat and
                beautiful outlook.</p>
        </div>
    </div>
</div>
<div class="specification-container">
    <h4>Creative corner protector,<br> Glue injection technology,<br> Innovative corner column</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon10.jpg" alt="image">
                <h6>Creative corner protector</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon5.jpg" alt="image">
                <h6>Glue injection technology</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon18.jpg" alt="image">
                <h6>Innovative corner column</h6>
            </div>
        </div>
        <div class="paragraph">
            <p>Premium composite EPDM gaskets are applied to improve the air tightness and water tightness. Creative
                corner protector
                for inswing window provides not only beautiful design but also extra safety to avoid sharp corner.
                Full series apply
                corner glue injection processto achieve high joint strength. Innovative corner column design makes
                corner joint safe and
                beautiful.
            </p>
        </div>
    </div>
</div>
<div class="specification-container">
    <h4>Patented design, mortise and <br> tenon tech, stepped hidden <br> drainage</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon111.jpg" alt="image">
                <h6>Extreme aesthetics</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon12.jpg" alt="image">
                <h6>Safety</h6>
            </div>
        </div>
        <div class="paragraph">
            <p>Dual-color profile,which means inner profile and outer profile in different colors, can well match
                the interior design
                and the exterior building outlook. Pry-resistant lock point and keeper provide extra safety and
                enhance the wind load
                resistance performance for better air tightness and water tightness. Baseless handle provides
                comfortable living
                experience with minimalist appearance, smooth design lines, and quiet operation. Users can rest
                assured with window
                safety even in extremely bad climate with fail safe device. Reinforced hinge with strengthened joint
                makes windows more
                stable, durable and safer.</p>
        </div>
    </div>
</div>

<div class="image-two">
    <img src="https://www.medodecor.com/uploads/MDPC120A.jpg" alt="image">
    <div class="text-on-image">
        <h5>MDPC120A
            Open method
        </h5>
        <img src="https://www.medodecor.com/uploads/MDPC120A-1.png" alt="image">
    </div>
</div>

<div class="specification-container">
    <h4>Patented design, mortise and <br> tenon tech, stepped hidden <br>    drainage</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon19.jpg" alt="image">
                <h6>MDPC120A Double inswing window</h6>
            </div>
        </div>
        <div class="paragraph">
            <p>Stunning appearance is the first impression it gives! Unique and patented structure design, double
                inswing opening,
                concealed flynet, aligned frame and sash, minimalist design language, stepped multiple sealing,
                hidden drainage,
                patented opening method......Besides those, you will keep.</p>
        </div>
    </div>
</div>

<div class="table3">
    <h2>Product performance</h2>
    <table border="2" cellpadding="30" cellspacing="20"
        style="border-collapse: collapse; text-align: center; margin-top: 5vh;">
        <thead>
            <tr>
                <th colspan="1" rowspan="1" style="width: 80vh;"></th>

                <th colspan="1" rowspan="1" style="width: 80vh;">MDPC120A Double inswing window</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td rowspan="1">Air tightness</td>
                <td>Level 8</td>

            </tr>
            <tr>
                <td rowspan="1"> Water tightness</td>
                <td>Level 4 ( 350pa )</td>

            </tr>
            <tr>
                <td rowspan="1">Wind resistance</td>
                <td>Level 9 ( 500OPa )</td>

            </tr>
            <tr>
                <td rowspan="1">Thermal insulation</td>
                <td>Level 6 ( 2.0w/m²k )</td>

            </tr>
            <tr>
                <td rowspan="1">Sound insulation</td>
                <td>Level 4 ( 37dB )</td>

            </tr>
        </tbody>
    </table>
</div>



<div class="single-image">
    <img src="https://www.medodecor.com/uploads/MDPC120A-7.jpg" alt="">
</div>


<div class="specification-container">
    <h4>Innovative structure and design</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon21.jpg" alt="image">
                <h6>Thermal break</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon20.jpg" alt="image">
                <h6>innovative design</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon211.jpg" alt="image">
                <h6>Large size</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon22.jpg" alt="image">
                <h6>5 seals</h6>
            </div>
        </div>
        <div class="paragraph">
            <p>Excellent thermal insulation with thermal break profile, large multi-cavity thermal break strip, and
                thick insulated
                glass. Innovative mullion and glass bead structure combined with aligned sash and frame provides
                well balanced slim
                outlook with smooth design lines. 5 seals with premium composite EPDM gaskets largely enhanced the
                water tightness and
                air tightness.</p>
        </div>
    </div>
</div>
<div class="specification-container">
    <h4>Double inner opening, hidden <br> yarn technology, detachable <br> yarn fan</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/ico23.jpg" alt="image">
                <h6>Double inner opening</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon23.jpg" alt="image">
                <h6>Invisible Gauze</h6>
            </div>

        </div>
        <div class="paragraph">
            <p>Double inswing opening method is highly recommended for high risebuilding for safe operation and
                cleaning. Concealed fly
                mesh providesstunning appearance and excellent nature lighting.</p>
        </div>
    </div>
</div>
<div class="specification-container">
    <h4>45°joint integrated glass <br> beaddrainage, Hidden drainage</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon17.jpg" alt="image">
                <h6>45°joint integrated glass bead</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon8.jpg" alt="image">
                <h6>Hidden drainage</h6>
            </div>

        </div>
        <div class="paragraph">
            <p>Aligned sash and frame with 45° corner joint provides neat and beautiful outlook. Abundant mullion
                joint sealing
                accessories and concealed.</p>
        </div>
    </div>
</div>
<div class="specification-container">
    <h4>Home application</h4>
    <div class="specification1">

        <div class="images">
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon111.jpg" alt="image">
                <h6>Extreme aesthetics</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon12.jpg" alt="image">
                <h6>Safety</h6>
            </div>
            <div class="image-text">
                <img src="https://www.medodecor.com/uploads/icon24.jpg" alt="image">
                <h6>Datachable yarn fan</h6>
            </div>
        </div>
        <div class="paragraph">
            <p>Pry-resistant lock point and keeper provide extra safety and enhance the wind load resistance
                performance for better air
                tightness and water tightness. Baseless handle provides comfortable living experience with
                minimalist appearance, smooth
                design lines, and quiet operation.</p>
        </div>
    </div>
</div>