<app-navbar></app-navbar>
<!-- Carousel -->
<div id="carouselExampleControls" class="carousel slide mt-2 carousel-fade" data-bs-ride="carousel"
    data-bs-interval="2000" data-bs-touch="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://cdnus.globalso.com/medodecor/banner5.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://cdnus.globalso.com/medodecor/1920x945-13.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://cdnus.globalso.com/medodecor/1920x945-23.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://cdnus.globalso.com/medodecor/1920x945-42.jpg" alt="Fourth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://cdnus.globalso.com/medodecor/1920x9453.jpg" alt="Fourth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://cdnus.globalso.com/medodecor/a5f66.jpg" alt="Fifth slide">
        </div>
    </div>
</div>



<div class="high-quality-double">
    <img class="d-block w-100" src="https://cdnus.globalso.com/medodecor/windw.jpg">
</div>


<h2>WINDOWS</h2>
<div class="image-row">
    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/Casement-Window1.jpg" alt="Image 1">
        <div class="overlay">
            <div class="text" style="font-size: medium;">Casement Window</div>
        </div>
    </div>
    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/Sliding-window22.jpg" alt="Image 2">
        <div class="overlay">
            <div class="text" style="font-size: medium;">Sliding Window</div>
        </div>
    </div>
    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/Lift-Up-Window1.jpg" alt="Image 3">
        <div class="overlay">
            <div class="text" style="font-size: medium;">Lift Up Window</div>
        </div>
    </div>
    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/170-Banner-图-副本3.jpg" alt="Image 4">
        <div class="overlay">
            <div class="text" style="font-size: medium;">Parallel Window</div>
        </div>
    </div>
</div>


<div class="high-quality-aluminium">
    <img class="d-block w-100" src="https://cdnus.globalso.com/medodecor/door1.jpg">
</div>


<h2>DOORS</h2>
<div class="image-row">
    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/Slimline-Sliding-System22.jpg" alt="Image 1">
        <div class="overlay">
            <div class="text" style="font-size: medium;">Casement Window</div>
        </div>
    </div>
    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/Slimline-Bi-Folding-System1.jpg" alt="Image 2">
        <div class="overlay">
            <div class="text" style="font-size: medium;">Sliding Window</div>
        </div>
    </div>
    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/Slimline-Sliding-System-1.jpg" alt="Image 3">
        <div class="overlay">
            <div class="text" style="font-size: medium;">Lift Up Window</div>
        </div>
    </div>
    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/Slimline-Casement-System1.jpg" alt="Image 4">
        <div class="overlay">
            <div class="text" style="font-size: medium;">Parallel Window</div>
        </div>
    </div>
</div>


<div class="image-video">
    <div class="image">
        <img src="https://cdn.globalso.com/medodecor/_DSC6091.jpg" alt="Image 2">
    </div>
    <div class="video">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/QfYXUZtI1ZI" title="New Showroom"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
    </div>
</div>


<ul class="index_video_youtube">
    <li class="index_video_youtube11">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/qx8lWZKH-8Y" title="New Showroom"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>

    </li>
    <li class="index_video_youtube11">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/l8Hx4RNhrAA"
            title="126 Slimline panoramic sliding door + 90° opening" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
    </li>
    <li class="index_video_youtube11">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/T3aNxonMB5c"
            title="150 Slimline Motorized Lift Up Window" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
    </li>
</ul>

<button type="button" class="learn-more">LEARN MORE</button>

<div class="hight-quality-modern">
    <img class="d-block w-100" src="https://cdnus.globalso.com/medodecor/furniture1.jpg">
</div>

<h2>FURNITURE</h2>
<div class="image-row">
    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/Slimline-Sliding-System22.jpg" alt="Image 1">
        <div class="overlay">
            <div class="text" style="font-size: medium;">Casement Window</div>
        </div>
    </div>
    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/Sofa-D031-11.jpg" alt="Image 2">
        <div class="overlay">
            <div class="text" style="font-size: medium;">SOFA</div>
        </div>
    </div>
    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/CABINET1.jpg" alt="Image 3">
        <div class="overlay">
            <div class="text" style="font-size: medium;">CABINET</div>
        </div>
    </div>
    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/chair1.jpg" alt="Image 4">
        <div class="overlay">
            <div class="text" style="font-size: medium;">CHAIR</div>
        </div>
    </div>
    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/TABLE1.jpg" alt="Image 5">
        <div class="overlay">
            <div class="text" style="font-size: medium;">TABLE</div>
        </div>
    </div>

    <div class="image-container">
        <img src="https://cdnus.globalso.com/medodecor/bed14.jpg" alt="Image 6">
        <div class="overlay">
            <div class="text" style="font-size: medium;">BED</div>
        </div>
    </div>
</div>

<ul class="index_video_youtube">
    <li class="index_video_youtube11">
        <iframe width="100%" height="315" src="https://youtube.com/embed/xPAn7bRg06w" title="New Showroom"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>

    </li>
    <li class="index_video_youtube11">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/c4yblgQqVgo"
            title="126 Slimline panoramic sliding door + 90° opening" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
    </li>
    <li class="index_video_youtube11">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Je88NXpPUy4"
            title="150 Slimline Motorized Lift Up Window" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
    </li>
</ul>

<div class="text-why-demo">
    <h4 style="font-size: 20px;">Refined windows, doors and furniture, originated from UK</h4>
    <h2>About Hasco Int'l</h2>
    <h5 style="font-weight: normal;">We are a team dedicated to transforming your environment with our meticulously
        designed European and Australian
        products. From the sleek elegance of our sliding windows to the robust charm of our timber doors, each product
        is a
        testament to our commitment to quality and craftsmanship..</h5>
</div>


<section class="index_company_intr"
    style="background-image: url(https://cdnus.globalso.com/medodecor/company_intr_bg1.jpg)">
    <div class="index_bd wow fadeInA" data-wow-delay=".1s" data-wow-duration=".8s"
        style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.1s; animation-name: fadeInA;">
        <div class="layout">
            <div class="company_intr_cont">
                <h2 class="company_intr_title">READ MORE ABOUT OUR COMPANY</h2>
                <p class="company_intr_desc"></p>
                <p>Best-In-Class Solution Provider for Slimline Windows &amp; Doors and Minimalist Furniture</p>
                <p>With over decade-years’ experience in the industry</p>
                <p>Our company aims to provide best solutions for minimalistic buildings</p>
                <p>and professional service to help clients save time and cost</p>
                <p></p>
            </div>
            <div class="our-story">
                <button class="btn">OUR STORY</button>
            </div>
        </div>
    </div>
</section>



<section class="company_subscribe"
    style="background-image: url(https://cdnus.globalso.com/medodecor/Slimline-Sliding-Systems.jpg)">
    <div class="index_bd wow fadeInA" data-wow-delay=".1s" data-wow-duration=".8s"
        style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.1s; animation-name: fadeInA;">
        <div class="layout">
            <div class="company_intr_cont">
                <h4 class="subscribe_subtit">Partnership</h4>
                <h2 class="subscribe_title">
                    <p>We are expanding fast and looking for distributors globally.</p>
                    <p>If any inquiry, please don’t hesitate to contact us.</p>
                    <p>Our international sales team will endeavor to respond you asap.</p>

                </h2>
            </div>
            <div class="CONTACT-US">
                <button class="btn">CONTACT US</button>
            </div>
        </div>
    </div>
</section>

<section class="index_social">
    <div class="index_hd">
        <div class="layout">
            <h2 class="hd_title">We are also here</h2>
        </div>
    </div>
    <div class="index_bd">
        <div class="layout">
            <ul class="social_items flex_row list-unstyled">

                <li class="social_item wow flipInY" data-wow-delay=".5s" data-wow-duration=".8s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.5s; animation-name: flipInY;">
                    <a class="item_inner" style="color: #7a8cc0" href="#"><img
                            src="https://cdnus.globalso.com/medodecor/linkedin2.png" alt="linkedin"></a>
                </li>
                <li class="social_item wow flipInY" data-wow-delay=".5s" data-wow-duration=".8s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.5s; animation-name: flipInY;">
                    <a class="item_inner" style="color: #7a8cc0" href="#"><img
                            src="https://cdnus.globalso.com/medodecor/11.png" alt="11"></a>
                </li>
                <li class="social_item wow flipInY" data-wow-delay=".5s" data-wow-duration=".8s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.5s; animation-name: flipInY;">
                    <a class="item_inner" style="color: #7a8cc0" href="#"><img
                            src="https://cdnus.globalso.com/medodecor/facebook2.png" alt="facebook"></a>
                </li>
                <li class="social_item wow flipInY" data-wow-delay=".5s" data-wow-duration=".8s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.5s; animation-name: flipInY;">
                    <a class="item_inner" style="color: #7a8cc0" href="#"><img
                            src="https://cdnus.globalso.com/medodecor/youtube2.png" alt="youtube"></a>
                </li>
                <li class="social_item wow flipInY" data-wow-delay=".5s" data-wow-duration=".8s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.5s; animation-name: flipInY;">
                    <a class="item_inner" style="color: #7a8cc0" href=""><img
                            src="https://cdnus.globalso.com/medodecor/Twitter.png" alt="Twitter"></a>
                </li>

            </ul>
        </div>
    </div>
</section>


<app-footer></app-footer>